{
  "openapi": "3.0.1",
  "info": {
    "title": "Shipmondo",
    "description": "This is the official API for Shipmondo. The current version is v3.\n\nWe recommend new implementations should be based on this version.\n\nThe API provides multiple endpoints to Shipmondo. You need to have a credential, which consists of an API username and API key.\n\nYou can achieved them through a Shipmondo account, under the Settings page.\n\nThe credential must be passed through every request by using HTTP Basic Authentication technique.\n\nShould we introduce any new changes in the API which will break the structure of any existing API calls, these new changes will be introduced in a new version. This ensures that any systems which integrates up against our system will not be affected.\n\nThe older API V2 is still being supported but no longer extended. Documentation: https://api.pakkelabels.dk/v2/\n\nWe provide an official library for PHP: https://github.com/shipmondo/shipmondo_php_sdk\n",
    "contact": {
      "email": "support@shipmondo.com"
    },
    "version": "3.0.0"
  },
  "servers": [
    {
      "url": "https://app.shipmondo.com/api/public/v3"
    }
  ],
  "tags": [
    {
      "name": "authentication",
      "description": "Authentication"
    },
    {
      "name": "account",
      "description": "Account"
    },
    {
      "name": "products",
      "description": "Shipping Products"
    },
    {
      "name": "service_points",
      "description": "Service Points"
    },
    {
      "name": "imported_shipments",
      "description": "Imported Shipments"
    },
    {
      "name": "shipments",
      "description": "Shipments"
    },
    {
      "name": "pickup_points",
      "description": "Pickup Points"
    },
    {
      "name": "print_client",
      "description": "Print Client"
    },
    {
      "name": "shipment_monitor",
      "description": "Shipment Monitor"
    },
    {
      "name": "return_portals",
      "description": "Return Portals"
    },
    {
      "name": "labels",
      "description": "Labels"
    },
    {
      "name": "quotes",
      "description": "Quotes"
    },
    {
      "name": "carriers",
      "description": "Carriers"
    },
    {
      "name": "shipment_templates",
      "description": "Shipment Templates"
    },
    {
      "name": "payment_gateways",
      "description": "Payment Gateways"
    },
    {
      "name": "sales_orders",
      "description": "Sales Orders"
    },
    {
      "name": "items",
      "description": "Items"
    },
    {
      "name": "sales_order_packaging",
      "description": "Sales Order Packaging"
    },
    {
      "name": "bookkeeping_integrations",
      "description": "Bookkeeping Integrations"
    },
    {
      "name": "documents",
      "description": "Documents"
    },
    {
      "name": "cmr_waybills",
      "description": "CMR Waybills"
    },
    {
      "name": "pickup_requests",
      "description": "Pickup Requests"
    },
    {
      "name": "pick_lists",
      "description": "Pick Lists"
    },
    {
      "name": "webhooks",
      "description": "Webhooks"
    }
  ],
  "paths": {
    "/account/balance": {
      "get": {
        "tags": [
          "account"
        ],
        "summary": "Get current balance",
        "description": "Get current balance for the account\n",
        "operationId": "account_balance_get",
        "responses": {
          "200": {
            "description": "Successful.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "amount": {
                      "type": "number",
                      "example": 1000.5
                    },
                    "currency_code": {
                      "type": "string",
                      "example": "DKK"
                    },
                    "updated_at": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2017-06-19T00:00:00+02:00"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/definitions/Response 401"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/account/payment_requests": {
      "get": {
        "tags": [
          "account"
        ],
        "summary": "Get payment requests",
        "description": "Get payment requests\n",
        "operationId": "payment_requests_get",
        "parameters": [
          {
            "name": "created_at_min",
            "in": "query",
            "description": "From timestamp for the payment requests that need to be considered for filter. Examples:\n* 2017-06-19T11:00:03.305+02:00\n* 2017-06-19 will be transformed into 2017-06-19T00:00:00.000+02:00\n",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "created_at_max",
            "in": "query",
            "description": "To timestamp for the payment requests that need to be considered for filter. Examples:\n* 2017-06-29T11:00:03.305+02:00\n* 2017-06-29 will be transformed into 2017-06-29T00:00:00.000+02:00\n",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "For pagination. Defining how many entries returned per page. Default 20. Max 50.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "For pagination. Defining which page is the results are fetched from. Default 1.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "headers": {
              "X-Current-Page": {
                "description": "Pagination - Current Page.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Per-Page": {
                "description": "Pagination - Per Page.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Total-Count": {
                "description": "Pagination - Total Count.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Total-Pages": {
                "description": "Pagination - Total Pages Count.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Payment Request"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/definitions/Response 401"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/products": {
      "get": {
        "tags": [
          "products"
        ],
        "summary": "Get available products",
        "description": "Gets the products and services\n\nAll of available products are returned. If the user is trying to create a shipment with a product not available for their accout, error will occur.\n\nThe code of the products and services are required when creating a shipment.\n",
        "operationId": "products_get",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "ID for the product that need to be considered for filter",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "available",
            "in": "query",
            "description": "Filter for whether or not the product is available for the user",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "product_code",
            "in": "query",
            "description": "Code for the product that need to be considered for filter\n\nExamples: GLSDK_SD, PDK_MH, DAO_P etc.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sender_country_code",
            "in": "query",
            "description": "Country code (ISO Alpha-2) of the sender country that need to be considered for filter.\n\nExamples: DK, SE, DE, etc.\n",
            "schema": {
              "type": "string",
              "default": "DK"
            }
          },
          {
            "name": "receiver_country_code",
            "in": "query",
            "description": "Country code (ISO Alpha-2) of the receiver country that need to be considered for filter.\n\nExamples: DK, SE, DE, etc.\n",
            "schema": {
              "type": "string",
              "default": "DK"
            }
          },
          {
            "name": "carrier_code",
            "in": "query",
            "description": "Carrier code that need to be considered for filter\n\nExamples: bring, dao, dfm, dhl_express, dsv, gls, pdk, xpressen, brink\n",
            "schema": {
              "type": "string",
              "default": "gls",
              "enum": [
                "bring",
                "dao",
                "dfm",
                "dhl_express",
                "dsv",
                "gls",
                "pdk",
                "xpressen",
                "ups",
                "brink"
              ]
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "For pagination. Defining how many entries returned per page. Default 20. Max 50.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "For pagination. Defining which page is the results are fetched from. Default 1.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "headers": {
              "X-Current-Page": {
                "description": "Pagination - Current Page.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Per-Page": {
                "description": "Pagination - Per Page.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Total-Count": {
                "description": "Pagination - Total Count.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Total-Pages": {
                "description": "Pagination - Total Pages Count.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Shipping Product"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/definitions/Response 401"
          },
          "404": {
            "$ref": "#/definitions/Response 404"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/package_types": {
      "get": {
        "tags": [
          "package_types"
        ],
        "summary": "Get available package types for carrier product",
        "description": "Gets the package types for a product.\n\nAll of available package types are returned for the giving product.\n\nThe code of the package type is used when giving parcels in the creation of shipments.\n",
        "operationId": "package_types_get",
        "parameters": [
          {
            "name": "product_code",
            "in": "query",
            "description": "Code for the product that need to be considered for filter",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Package Type"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/definitions/Response 401"
          },
          "404": {
            "$ref": "#/definitions/Response 404"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/shipments": {
      "get": {
        "tags": [
          "shipments"
        ],
        "summary": "Get Shipments",
        "description": "Gets the shipments for the user.\n",
        "operationId": "shipments_get",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "ID for the shipment that need to be considered for filter",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "order_id",
            "in": "query",
            "description": "Order ID for the shipments that need to be considered for filter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "package_number",
            "in": "query",
            "description": "Package number for the shipments that need to be considered for filter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "carrier_code",
            "in": "query",
            "description": "Carrier code that need to be considered for filter\n\nExamples: bring, dao, dfm, dhl_express, gls, pdk, brink\n",
            "schema": {
              "type": "string",
              "enum": [
                "bring",
                "dao",
                "dfm",
                "dhl_express",
                "gls",
                "pdk",
                "xpressen",
                "brink"
              ]
            }
          },
          {
            "name": "receiver_country",
            "in": "query",
            "description": "Country code (ISO Alpha-2) that need to be considered for filter.\n\nExamples: DK, SE, DE, etc.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "created_at_min",
            "in": "query",
            "description": "From timestamp for the shipments that need to be considered for filter. Examples:\n* 2017-06-19T11:00:03.305+02:00\n* 2017-06-19 will be transformed into 2017-06-19T00:00:00.000+02:00\n",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "created_at_max",
            "in": "query",
            "description": "To timestamp for the shipments that need to be considered for filter. Examples:\n* 2017-06-29T11:00:03.305+02:00\n* 2017-06-29 will be transformed into 2017-06-29T00:00:00.000+02:00\n",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "For pagination. Defining how many entries returned per page. Default 20. Max 50.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "For pagination. Defining which page is the results are fetched from. Default 1.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "headers": {
              "X-Current-Page": {
                "description": "Pagination - Current Page.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Per-Page": {
                "description": "Pagination - Per Page.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Total-Count": {
                "description": "Pagination - Total Count.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Total-Pages": {
                "description": "Pagination - Total Pages Count.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Shipment"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/definitions/Response 401"
          },
          "404": {
            "$ref": "#/definitions/Response 404"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "shipments"
        ],
        "summary": "Create a new Shipment",
        "description": "Create a new shipment.\n",
        "operationId": "shipments_post",
        "requestBody": {
          "description": "Shipment Object.\n\nFor some carriers, a simple model can be used while for others a more advanced model needs to be used.\n\nExamples for the advanced model can be found in the Models section.\n\nThis request sample is based on the simple model.\n",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Create Shipment Request Simple"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Shipment"
                }
              }
            }
          },
          "401": {
            "$ref": "#/definitions/Response 401"
          },
          "404": {
            "$ref": "#/definitions/Response 404"
          },
          "422": {
            "$ref": "#/definitions/Response 422"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-codegen-request-body-name": "body"
      }
    },
    "/shipments/{id}": {
      "get": {
        "tags": [
          "shipments"
        ],
        "summary": "Get Shipment with specific ID",
        "description": "Gets the shipment with specific ID for the user.\n",
        "operationId": "shipment_get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID for the shipment that need to be considered for filter",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Shipment"
                }
              }
            }
          },
          "401": {
            "$ref": "#/definitions/Response 401"
          },
          "404": {
            "$ref": "#/definitions/Response 404"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/shipments/{id}/labels": {
      "get": {
        "tags": [
          "shipments"
        ],
        "summary": "Get Labels for Shipment with specific ID",
        "description": "Gets labels for the shipment with specific ID. Labels are delivered as Base64 encoded data.\n",
        "operationId": "shipment_labels",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID for the shipment that need to be considered for filter",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "label_format",
            "in": "query",
            "description": "Format for the labels. Available: a4_pdf, 10x19_pdf, png, zpl\n",
            "schema": {
              "type": "string",
              "enum": [
                "a4_pdf",
                "10x19_pdf",
                "png",
                "zpl"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Label"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/definitions/Response 401"
          },
          "404": {
            "$ref": "#/definitions/Response 404"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/shipments/{id}/proforma_invoices": {
      "get": {
        "tags": [
          "shipments"
        ],
        "summary": "Get Proforma Invoices for Shipment with specific ID",
        "description": "Gets proforma invoices for the shipment with specific ID. Proforma Invoices are generated based on the Customs data received and delivered as Base64 encoded data. Only necessary to use when Paperless Trade is not available.\n",
        "operationId": "proforma_invoices_get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID for the shipment that need to be considered for filter",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Proforma Invoice"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/definitions/Response 401"
          },
          "404": {
            "$ref": "#/definitions/Response 404"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/shipments/{id}/waybills": {
      "get": {
        "tags": [
          "shipments"
        ],
        "summary": "Get Waybills for Shipment with specific ID",
        "description": "Gets waybills for the shipment with specific ID. Waybills are carrier specific and compared to collected waybills these only cover one shipment. Only Danske Fragtmænd supports this at the moment when \"INCL_WAYBILL\" services is booked.\n",
        "operationId": "shipment_waybill_get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID for the shipment that need to be considered for filter",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Document"
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/definitions/Response 404"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/shipments/{id}/cancel_at_carrier": {
      "put": {
        "tags": [
          "shipments"
        ],
        "summary": "Cancel TA shipment at carrier, with specific ID",
        "description": "Cancels TA shipment at carrier if possible. Note that this doesn't refunds the shipment in Shipmondo. Currently supported carriers are: dao, FedEx, Brink Transport and Danske Fragtmænd.\n",
        "operationId": "shipment_cancel_at_carrier",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID for the shipment that need to be considered for filter",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Shipment Cancelled"
                }
              }
            }
          },
          "401": {
            "$ref": "#/definitions/Response 401"
          },
          "404": {
            "$ref": "#/definitions/Response 404"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/cmr_waybills": {
      "get": {
        "tags": [
          "cmr_waybills"
        ],
        "summary": "Get CMR waybills",
        "description": "Gets the CMR waybills for the user (excluding Base64 PDF).\n",
        "operationId": "cmr_waybills_get",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "ID for the CMR waybill that need to be considered for filter",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "reference",
            "in": "query",
            "description": "Reference for the CMR waybill that need to be considered for filter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "carrier_code",
            "in": "query",
            "description": "Carrier code that need to be considered for filter\n\nExamples: bring\n",
            "schema": {
              "type": "string",
              "enum": [
                "bring"
              ]
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "For pagination. Defining how many entries returned per page. Default 20. Max 50.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "For pagination. Defining which page is the results are fetched from. Default 1.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "headers": {
              "X-Current-Page": {
                "description": "Pagination - Current Page.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Per-Page": {
                "description": "Pagination - Per Page.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Total-Count": {
                "description": "Pagination - Total Count.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Total-Pages": {
                "description": "Pagination - Total Pages Count.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CMR Waybill No Base64"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/definitions/Response 401"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "cmr_waybills"
        ],
        "summary": "Create a new CMR waybill and associated routing label shipments",
        "description": "Create a new CMR waybill and associated routing label shipments\n",
        "operationId": "cmr_waybills_post",
        "requestBody": {
          "description": "CMR Waybill Object.<br> <strong>Note</strong>; loading (except date) and delivery is optional.<br> If not all fields are giving, loading will be overwritten by receiver (except date) and delivery will be overwritten by sender.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Create CMR Waybill Request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CMR Waybill"
                }
              }
            }
          },
          "401": {
            "$ref": "#/definitions/Response 401"
          },
          "404": {
            "$ref": "#/definitions/Response 404"
          },
          "422": {
            "$ref": "#/definitions/Response 422"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-codegen-request-body-name": "body"
      }
    },
    "/cmr_waybills/{id}": {
      "get": {
        "tags": [
          "cmr_waybills"
        ],
        "summary": "Get CMR Waybill (including Base64 PDF) with specific ID",
        "description": "Gets the CMR waybill with specific ID for the user. The response include the Base64 for the CMR waybill PDF\n",
        "operationId": "cmr_waybills_show",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID for the CMR waybill that need to be considered for filter",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CMR Waybill"
                }
              }
            }
          },
          "401": {
            "$ref": "#/definitions/Response 401"
          },
          "404": {
            "$ref": "#/definitions/Response 404"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/imported_shipments": {
      "get": {
        "tags": [
          "imported_shipments"
        ],
        "summary": "Get Imported Shipments",
        "description": "Gets the imported shipments for the user.\n",
        "operationId": "imported_shipments_get",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "ID for the imported shipment that need to be considered for filter",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "order_id",
            "in": "query",
            "description": "Order ID for the imported shipment that need to be considered for filter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "created_at_min",
            "in": "query",
            "description": "From timestamp for the imported shipments that need to be considered for filter. Examples:\n* 2017-06-19T11:00:03.305+02:00\n* 2017-06-19 will be transformed into 2017-06-19T00:00:00.000+02:00\n",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "created_at_max",
            "in": "query",
            "description": "To timestamp for the imported shipments that need to be considered for filter. Examples:\n* 2017-06-29T11:00:03.305+02:00\n* 2017-06-29 will be transformed into 2017-06-29T00:00:00.000+02:00\n",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "For pagination. Defining how many entries returned per page. Default 20. Max 50.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "For pagination. Defining which page is the results are fetched from. Default 1.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "headers": {
              "X-Current-Page": {
                "description": "Pagination - Current Page.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Per-Page": {
                "description": "Pagination - Per Page.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Total-Count": {
                "description": "Pagination - Total Count.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Total-Pages": {
                "description": "Pagination - Total Pages Count.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Imported Shipment"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/definitions/Response 401"
          },
          "404": {
            "$ref": "#/definitions/Response 404"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "imported_shipments"
        ],
        "summary": "Create a new Imported Shipment",
        "description": "Create a new imported shipment. The imported shipment can be used to generate shipment through our Web App later.\n",
        "operationId": "imported_shipments_post",
        "requestBody": {
          "description": "Imported Shipment Object",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Create Imported Shipment Request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Imported Shipment"
                }
              }
            }
          },
          "401": {
            "$ref": "#/definitions/Response 401"
          },
          "404": {
            "$ref": "#/definitions/Response 404"
          },
          "422": {
            "$ref": "#/definitions/Response 422"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-codegen-request-body-name": "body"
      }
    },
    "/imported_shipments/{id}": {
      "get": {
        "tags": [
          "imported_shipments"
        ],
        "summary": "Get Imported Shipment with specific ID",
        "description": "Gets the imported shipments for the user.\n",
        "operationId": "imported_shipment_get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID for the imported shipment that need to be considered for filter",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Imported Shipment"
                }
              }
            }
          },
          "401": {
            "$ref": "#/definitions/Response 401"
          },
          "404": {
            "$ref": "#/definitions/Response 404"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "imported_shipments"
        ],
        "summary": "Update an existing Imported Shipment",
        "description": "Updating an existing imported shipment. The imported shipment can be used to generate shipment through our Web App later.\n",
        "operationId": "imported_shipment_put",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID for the imported shipment that need to be updated",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "Update Imported Shipment Body",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Create Imported Shipment Request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Imported Shipment"
                }
              }
            }
          },
          "401": {
            "$ref": "#/definitions/Response 401"
          },
          "404": {
            "$ref": "#/definitions/Response 404"
          },
          "422": {
            "$ref": "#/definitions/Response 422"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-codegen-request-body-name": "body"
      },
      "delete": {
        "tags": [
          "imported_shipments"
        ],
        "summary": "Delete/archive an existing Imported Shipment",
        "description": "The shipment will be marked as archived and will no longer be visible in our Web App.\n",
        "operationId": "imported_shipment_delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID for the imported shipment that need to be updated",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Imported Shipment"
                }
              }
            }
          },
          "401": {
            "$ref": "#/definitions/Response 401"
          },
          "404": {
            "$ref": "#/definitions/Response 404"
          },
          "422": {
            "$ref": "#/definitions/Response 422"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/pickup_points": {
      "get": {
        "tags": [
          "pickup_points"
        ],
        "summary": "Get available & nearest pickup points",
        "description": "Get the available & nearest pickup points based on input.\n\nThe identification of the pickup points can be used/required when creating a shipment.\n",
        "operationId": "pickup_points_get",
        "parameters": [
          {
            "name": "carrier_code",
            "in": "query",
            "description": "Carrier code that need to be considered for filter\n\nAvailable values: bring, dao, db_schenker_se, gls, pdk, ups, dhl_parcel, dhl_freight_se\n",
            "required": true,
            "schema": {
              "type": "string",
              "default": "gls",
              "enum": [
                "bring",
                "dao",
                "db_schenker_se",
                "dhl_parcel",
                "gls",
                "pdk",
                "gls_pl",
                "ups"
              ]
            }
          },
          {
            "name": "country_code",
            "in": "query",
            "description": "Country code (ISO Alpha-2) that need to be considered for filter.\n\nAvailable countries: DK, NO, SE, FI, NL, DE, BE, LU. Default: DK\n",
            "required": true,
            "schema": {
              "type": "string",
              "default": "DK"
            }
          },
          {
            "name": "zipcode",
            "in": "query",
            "description": "ZIP code / Postal code\n",
            "required": true,
            "schema": {
              "type": "string",
              "default": "5000"
            }
          },
          {
            "name": "city",
            "in": "query",
            "description": "Name of the city. It is recommended to include city with the request to increase the hit accuracy.\n",
            "schema": {
              "type": "string",
              "default": "5000"
            }
          },
          {
            "name": "address",
            "in": "query",
            "description": "Street address (contains street name and house number)\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "The ID of the droppoint at shipping agent. Once this field is used, zipcode is no longer mandatory.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "quantity",
            "in": "query",
            "description": "Defining how many pickup points are being returned. Default 10. Max 50.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "collect_points",
            "in": "query",
            "description": "Set as true to get collect points for products like GLS Click&Collect",
            "schema": {
              "type": "boolean",
              "format": "bool",
              "default": false
            }
          },
          {
            "name": "product_code",
            "in": "query",
            "description": "Used to i.e. determine whether to return postfiliale (default) or packstations for DHL Parcel.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Service Point"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/definitions/Response 401"
          },
          "404": {
            "$ref": "#/definitions/Response 404"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/webhooks": {
      "get": {
        "tags": [
          "webhooks"
        ],
        "summary": "Get webhooks",
        "description": "Get a list of webhooks available for the user.\n",
        "operationId": "webhooks_get",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Id of the webhook object\n",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Name of the webhook\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "active",
            "in": "query",
            "description": "The current active status of the webhook\n",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "created_at_min",
            "in": "query",
            "description": "From timestamp for the webhooks that need to be considered for filter. Examples:\n* 2017-06-19T11:00:03.305+02:00\n* 2017-06-19 will be transformed into 2017-06-19T00:00:00.000+02:00\n",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "created_at_max",
            "in": "query",
            "description": "To timestamp for the webhooks that need to be considered for filter. Examples:\n* 2017-06-29T11:00:03.305+02:00\n* 2017-06-29 will be transformed into 2017-06-29T00:00:00.000+02:00\n",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "updated_at_min",
            "in": "query",
            "description": "From updated-timestamp for the webhooks that need to be considered for filter. Examples:\n* 2018-06-19T11:00:03.305+02:00\n* 2018-06-19 will be transformed into 2017-06-19T00:00:00.000+02:00\n",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "updated_at_max",
            "in": "query",
            "description": "To updated-timestamp for the webhooks that need to be considered for filter. Examples:\n* 2018-06-29T11:00:03.305+02:00\n* 2018-06-29 will be transformed into 2017-06-29T00:00:00.000+02:00\n",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "For pagination. Defining how many entries returned per page. Default 20. Max 50.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "For pagination. Defining which page is the results are fetched from. Default 1.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Webhook"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/definitions/Response 401"
          },
          "404": {
            "$ref": "#/definitions/Response 404"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "webhooks"
        ],
        "summary": "Create a new webhook",
        "description": "Creates a new webhook with the specified information and activates it.\n\nEndpoint must be set up to receive messages before creating the webhook.\n\nAccepted values for action depends on the resource_name used:\nAvailable actions for Shipments resource: create, cancel.\n\nAvailable actions for Orders resource: create, status_update, create_fulfillment, create_shipment, payment_captured, payment_voided, delete.\n\nAvailable actions for Drafts resource: create, create_shipment, delete.\n",
        "operationId": "webhook_create",
        "requestBody": {
          "description": "Webhook Object",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Webhook Create"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Webhook"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/definitions/Response 401"
          },
          "404": {
            "$ref": "#/definitions/Response 404"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-codegen-request-body-name": "body"
      }
    },
    "/webhooks/{id}": {
      "get": {
        "tags": [
          "webhooks"
        ],
        "summary": "Get Webhook with specific ID",
        "description": "Gets the webhook with the specified ID for the user.\n",
        "operationId": "webhook_get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID for the webhook that need to be considered for filter",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webhook"
                }
              }
            }
          },
          "401": {
            "$ref": "#/definitions/Response 401"
          },
          "404": {
            "$ref": "#/definitions/Response 404"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "webhooks"
        ],
        "summary": "Update the specified webhook for the user",
        "description": "Updates the webhook with the specified ID for the user using the request body.\n\nCurrently only supports updating name and active status.\n",
        "operationId": "webhook_update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID for the webhook that is to be updated",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "New name of the webhook\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "active",
            "in": "query",
            "description": "New active status of the webhook\n",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webhook"
                }
              }
            }
          },
          "401": {
            "$ref": "#/definitions/Response 401"
          },
          "404": {
            "$ref": "#/definitions/Response 404"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "webhooks"
        ],
        "summary": "Delete the specified webhook for the user",
        "description": "Delete the webhook with the specified ID\n",
        "operationId": "webhook_delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID for the webhook that is to be deleted",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webhook"
                }
              }
            }
          },
          "401": {
            "$ref": "#/definitions/Response 401"
          },
          "404": {
            "$ref": "#/definitions/Response 404"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/shipment_monitor_statuses": {
      "get": {
        "tags": [
          "shipment_monitor"
        ],
        "summary": "Get shipment monitor statuses",
        "description": "Get shipment monitor statues for specific shipments. Limit: 100 shipment ID's per request.\n",
        "operationId": "shipment_monitor_statuses_get",
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "description": "A list of shipment ID's that you want to fetch shipment monitor statuses for. Examples 10075,10076,10077\n",
            "required": true,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "headers": {
              "X-Current-Page": {
                "description": "Pagination - Current Page.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Per-Page": {
                "description": "Pagination - Per Page.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Total-Count": {
                "description": "Pagination - Total Count.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Total-Pages": {
                "description": "Pagination - Total Pages Count.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Shipment Monitor Status"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/definitions/Response 401"
          },
          "404": {
            "$ref": "#/definitions/Response 404"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/shipment_monitor_details": {
      "get": {
        "tags": [
          "shipment_monitor"
        ],
        "summary": "Get shipment monitor details",
        "description": "Get shipment monitor details for specific shipments. Limit: 100 shipment ID's per request.\n",
        "operationId": "shipment_monitor_details_get",
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "description": "A list of shipment ID's that you want to fetch shipment monitor details for. Examples 10075,10076,10077\n",
            "required": true,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Shipment Monitor Details"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/definitions/Response 401"
          },
          "404": {
            "$ref": "#/definitions/Response 404"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/printers": {
      "get": {
        "tags": [
          "print_client"
        ],
        "summary": "Get printers for the current account",
        "description": "Get printers\n",
        "operationId": "printers_get",
        "responses": {
          "200": {
            "description": "Successful.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Printer"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/definitions/Response 401"
          },
          "404": {
            "$ref": "#/definitions/Response 404"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/print_jobs": {
      "post": {
        "tags": [
          "print_client"
        ],
        "summary": "Create a print job",
        "description": "Get printers\n",
        "operationId": "print_jobs_post",
        "requestBody": {
          "description": "Sales Order Object",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Print Job"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Print Job"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/definitions/Response 401"
          },
          "404": {
            "$ref": "#/definitions/Response 404"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-codegen-request-body-name": "body"
      }
    },
    "/pick_lists": {
      "get": {
        "tags": [
          "pick_lists"
        ],
        "summary": "Get pick lists with specified IDs",
        "description": "Get pick lists for specific sales orders with specified IDs. Limit: 25 Sales Order ID's per request.\n",
        "operationId": "pick_list_get",
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "description": "A list of sales order ID's that you want to fetch pick lists for. Examples 10075,10076,10077\n",
            "required": true,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "output_format",
            "in": "query",
            "description": "Format for the pick lists. Available: a4_pdf, 10x19_pdf\n",
            "schema": {
              "type": "string",
              "enum": [
                "a4_pdf",
                "10x19_pdf"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "headers": {
              "X-Current-Page": {
                "description": "Pagination - Current Page.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Per-Page": {
                "description": "Pagination - Per Page.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Total-Count": {
                "description": "Pagination - Total Count.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Total-Pages": {
                "description": "Pagination - Total Pages Count.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Pick List"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/definitions/Response 401"
          },
          "404": {
            "$ref": "#/definitions/Response 404"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/packing_slips": {
      "get": {
        "tags": [
          "packing_slips"
        ],
        "summary": "Get packing slips with specified Sales Order IDs",
        "description": "Get packing slips for specific sales orders with specified IDs. Limit: 25 Sales Order ID's per request.\n",
        "operationId": "packing_slip_get",
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "description": "A list of sales order ID's that you want to fetch packing slips for. Examples 10075,10076,10077\n",
            "required": true,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "output_format",
            "in": "query",
            "description": "Format for the packing slips. Available: a4_pdf, 10x19_pdf\n",
            "schema": {
              "type": "string",
              "enum": [
                "a4_pdf",
                "10x19_pdf"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "headers": {
              "X-Current-Page": {
                "description": "Pagination - Current Page.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Per-Page": {
                "description": "Pagination - Per Page.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Total-Count": {
                "description": "Pagination - Total Count.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Total-Pages": {
                "description": "Pagination - Total Pages Count.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Packing Slip"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/definitions/Response 401"
          },
          "404": {
            "$ref": "#/definitions/Response 404"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/return_portals": {
      "get": {
        "tags": [
          "return_portals"
        ],
        "summary": "Get return portals",
        "description": "Get return portals for the user.\n",
        "operationId": "return_portals_get",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "ID for the return portal that needs to be acquired",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "active",
            "in": "query",
            "description": "Filters for whether or not the return portal is active",
            "schema": {
              "type": "boolean",
              "format": "bool"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "For pagination. Defining how many entries returned per page. Default 10. Max 25.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "For pagination. Defining which page is the results are fetched from. Default 1.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "headers": {
              "X-Current-Page": {
                "description": "Pagination - Current Page.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Per-Page": {
                "description": "Pagination - Per Page.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Total-Count": {
                "description": "Pagination - Total Count.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Total-Pages": {
                "description": "Pagination - Total Pages Count.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Return Portals"
                }
              }
            }
          },
          "401": {
            "$ref": "#/definitions/Response 401"
          },
          "404": {
            "$ref": "#/definitions/Response 404"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/return_portals/{id}": {
      "get": {
        "tags": [
          "return_portals"
        ],
        "summary": "Get Return Portal with specific ID",
        "description": "Gets the return portal with the specified ID for the user.\n",
        "operationId": "return_portal_get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID for the return portal that need to be considered for filter",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Return Portal"
                }
              }
            }
          },
          "401": {
            "$ref": "#/definitions/Response 401"
          },
          "404": {
            "$ref": "#/definitions/Response 404"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/return_portals/{id}/shipments": {
      "get": {
        "tags": [
          "return_portals"
        ],
        "summary": "Get Shipments for Return Portal with specific ID",
        "description": "Gets shipments for the return portal with the specified ID.\n",
        "operationId": "return_portals_shipments_get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID for the return portal that need to be considered for filter",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "order_id",
            "in": "query",
            "description": "Order ID for the shipments that need to be considered for filter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "package_number",
            "in": "query",
            "description": "Package number for the shipments that need to be considered for filter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "carrier_code",
            "in": "query",
            "description": "Carrier code that need to be considered for filter\n\nExamples: bring, dao, dfm, dhl_express, gls, pdk\n",
            "schema": {
              "type": "string",
              "enum": [
                "bring",
                "dao",
                "dfm",
                "dhl_express",
                "gls",
                "pdk",
                "xpressen"
              ]
            }
          },
          {
            "name": "receiver_country",
            "in": "query",
            "description": "Country code (ISO Alpha-2) that need to be considered for filter.\n\nExamples: DK, SE, DE, etc.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "created_at_min",
            "in": "query",
            "description": "From timestamp for the shipments that need to be considered for filter. Examples:\n* 2017-06-19T11:00:03.305+02:00\n* 2017-06-19 will be transformed into 2017-06-19T00:00:00.000+02:00\n",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "created_at_max",
            "in": "query",
            "description": "To timestamp for the shipments that need to be considered for filter. Examples:\n* 2017-06-29T11:00:03.305+02:00\n* 2017-06-29 will be transformed into 2017-06-29T00:00:00.000+02:00\n",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "For pagination. Defining how many entries returned per page. Default 20. Max 50.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "For pagination. Defining which page is the results are fetched from. Default 1.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "headers": {
              "X-Current-Page": {
                "description": "Pagination - Current Page.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Per-Page": {
                "description": "Pagination - Per Page.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Total-Count": {
                "description": "Pagination - Total Count.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Total-Pages": {
                "description": "Pagination - Total Pages Count.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Shipment"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/definitions/Response 401"
          },
          "404": {
            "$ref": "#/definitions/Response 404"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/labels": {
      "get": {
        "tags": [
          "labels"
        ],
        "summary": "Get labels with specified IDs",
        "description": "Get labels for specific shipments with specified IDs. Limit: 25 shipment ID's per request.\n",
        "operationId": "labels_get",
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "description": "A list of shipment ID's that you want to fetch labels for. Examples 10075,10076,10077\n",
            "required": true,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "label_format",
            "in": "query",
            "description": "Format for the labels. Available: a4_pdf, 10x19_pdf, png, zpl\n",
            "schema": {
              "type": "string",
              "enum": [
                "a4_pdf",
                "10x19_pdf",
                "png",
                "zpl"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "headers": {
              "X-Current-Page": {
                "description": "Pagination - Current Page.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Per-Page": {
                "description": "Pagination - Per Page.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Total-Count": {
                "description": "Pagination - Total Count.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Total-Pages": {
                "description": "Pagination - Total Pages Count.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Labels"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/definitions/Response 401"
          },
          "404": {
            "$ref": "#/definitions/Response 404"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/quotes": {
      "post": {
        "tags": [
          "quotes"
        ],
        "summary": "Get quote for a shipment",
        "description": "Quote for a shipment with specified sender (origin), receiver (destination), product and services\n",
        "operationId": "quotes_post",
        "requestBody": {
          "description": "Quote Object.\n",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Create Quote Request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Create Quote Response"
                }
              }
            }
          },
          "401": {
            "$ref": "#/definitions/Response 401"
          },
          "404": {
            "$ref": "#/definitions/Response 404"
          },
          "422": {
            "$ref": "#/definitions/Response 422"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-codegen-request-body-name": "body"
      }
    },
    "/quotes/list": {
      "post": {
        "tags": [
          "quotes"
        ],
        "summary": "Get available quotes for a shipment",
        "description": "Array of available quotes for a shipment with specified sender (origin), receiver (destination).\n",
        "operationId": "quotes/list_post",
        "requestBody": {
          "description": "Quote Objects.\n",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Create Quote List Request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Create Quote List Response"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/definitions/Response 401"
          },
          "404": {
            "$ref": "#/definitions/Response 404"
          },
          "422": {
            "$ref": "#/definitions/Response 422"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-codegen-request-body-name": "body"
      }
    },
    "/carriers": {
      "get": {
        "tags": [
          "carriers"
        ],
        "summary": "Get available carriers",
        "description": "Gets available carriers for the current user.\n",
        "operationId": "carriers_get",
        "parameters": [
          {
            "name": "country_code",
            "in": "query",
            "description": "Country to get carriers for.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "DK"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Carriers"
                }
              }
            }
          },
          "401": {
            "$ref": "#/definitions/Response 401"
          },
          "404": {
            "$ref": "#/definitions/Response 404"
          },
          "422": {
            "$ref": "#/definitions/Response 422"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/shipment_templates": {
      "get": {
        "tags": [
          "shipment_templates"
        ],
        "summary": "Get Shipment Templates",
        "description": "Gets the shipment templates for the user.\n",
        "operationId": "shipment_templates_get",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "ID for the shipment template that need to be considered for filter",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "sender_country",
            "in": "query",
            "description": "Country code (ISO Alpha-2) that need to be considered for filter.\n\nExamples: DK, SE, DE, etc.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "receiver_country",
            "in": "query",
            "description": "Country code (ISO Alpha-2) that need to be considered for filter.\n\nExamples: DK, SE, DE, etc.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "For pagination. Defining how many entries returned per page. Default 20. Max 50.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "For pagination. Defining which page is the results are fetched from. Default 1.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "headers": {
              "X-Current-Page": {
                "description": "Pagination - Current Page.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Per-Page": {
                "description": "Pagination - Per Page.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Total-Count": {
                "description": "Pagination - Total Count.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Total-Pages": {
                "description": "Pagination - Total Pages Count.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Shipment Template"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/definitions/Response 401"
          },
          "404": {
            "$ref": "#/definitions/Response 404"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/shipment_templates/{id}": {
      "get": {
        "tags": [
          "shipment_templates"
        ],
        "summary": "Get Shipment Template with specific ID",
        "description": "Gets the shipment templates for the user.\n",
        "operationId": "shipment_template_get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID for the shipment template that need to be considered for filter",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Shipment Template"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/definitions/Response 401"
          },
          "404": {
            "$ref": "#/definitions/Response 404"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/sales_orders": {
      "get": {
        "tags": [
          "sales_orders"
        ],
        "summary": "Get sales orders",
        "description": "Gets the sales orders for the user.\n",
        "operationId": "sales_orders_get",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "ID for the sales order that need to be considered for filter",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "order_id",
            "in": "query",
            "description": "Order ID for the sales order that need to be considered for filter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "archived",
            "in": "query",
            "description": "Filter for achived or not",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "created_at_min",
            "in": "query",
            "description": "From created-timestamp for the sales orders that need to be considered for filter. Examples:\n* 2018-06-19T11:00:03.305+02:00\n* 2018-06-19 will be transformed into 2017-06-19T00:00:00.000+02:00\n",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "created_at_max",
            "in": "query",
            "description": "To created-timestamp for the sales orders that need to be considered for filter. Examples:\n* 2018-06-29T11:00:03.305+02:00\n* 2018-06-29 will be transformed into 2017-06-29T00:00:00.000+02:00\n",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "updated_at_min",
            "in": "query",
            "description": "From updated-timestamp for the sales orders that need to be considered for filter. Examples:\n* 2018-06-19T11:00:03.305+02:00\n* 2018-06-19 will be transformed into 2017-06-19T00:00:00.000+02:00\n",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "updated_at_max",
            "in": "query",
            "description": "To updated-timestamp for the sales orders that need to be considered for filter. Examples:\n* 2018-06-29T11:00:03.305+02:00\n* 2018-06-29 will be transformed into 2017-06-29T00:00:00.000+02:00\n",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "For pagination. Defining how many entries returned per page. Default 10. Max 25.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "For pagination. Defining which page is the results are fetched from. Default 1.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "headers": {
              "X-Current-Page": {
                "description": "Pagination - Current Page.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Per-Page": {
                "description": "Pagination - Per Page.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Total-Count": {
                "description": "Pagination - Total Count.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Total-Pages": {
                "description": "Pagination - Total Pages Count.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Sales Order"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/definitions/Response 401"
          },
          "404": {
            "$ref": "#/definitions/Response 404"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "sales_orders"
        ],
        "summary": "Create a new sales order",
        "description": "Create a new sales order. The sales order can be used to pack, handle, and send shipments through the Shipmondo App.\n",
        "operationId": "sales_orders_post",
        "requestBody": {
          "description": "Sales Order Object",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Create Sales Order Request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Sales Order"
                }
              }
            }
          },
          "401": {
            "$ref": "#/definitions/Response 401"
          },
          "404": {
            "$ref": "#/definitions/Response 404"
          },
          "422": {
            "$ref": "#/definitions/Response 422"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-codegen-request-body-name": "body"
      }
    },
    "/sales_orders/{id}": {
      "get": {
        "tags": [
          "sales_orders"
        ],
        "summary": "Get sales order with specific ID",
        "description": "Gets the sales orders for the user.\n",
        "operationId": "sales_order_get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID for the sales order that need to be considered for filter",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Sales Order"
                }
              }
            }
          },
          "401": {
            "$ref": "#/definitions/Response 401"
          },
          "404": {
            "$ref": "#/definitions/Response 404"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "sales_orders"
        ],
        "summary": "Update an existing sales order",
        "description": "Updating an existing sales order and its order lines.\n\nId value in order lines is used to identify which order lines should be updated.\nUpdating order lines is exclusively possible with open orders.\n",
        "operationId": "sales_order_put",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID for the sales order that need to be updated",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "Update Sales Order Body",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Update Sales Order Request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Sales Order"
                }
              }
            }
          },
          "401": {
            "$ref": "#/definitions/Response 401"
          },
          "404": {
            "$ref": "#/definitions/Response 404"
          },
          "422": {
            "$ref": "#/definitions/Response 422"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-codegen-request-body-name": "body"
      }
    },
    "/sales_orders/{id}/pick_list": {
      "get": {
        "tags": [
          "sales_orders"
        ],
        "summary": "Get Pick list for Sales order with specific ID",
        "description": "Gets Pick list for the sales order with specific ID. Pick list is delivered as Base64 encoded data.\n",
        "operationId": "sales_order_pick_list",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID for the sales order that need to be considered for filter",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Format for the pick list. Available: a4_pdf, 10x19_pdf\n",
            "schema": {
              "type": "string",
              "enum": [
                "a4_pdf",
                "10x19_pdf"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Pick List Data"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/definitions/Response 401"
          },
          "404": {
            "$ref": "#/definitions/Response 404"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/sales_orders/{id}/packing_slips": {
      "get": {
        "tags": [
          "sales_orders"
        ],
        "summary": "Get Packing slips for Sales order with specific ID",
        "description": "Gets Packing slips for the sales order with specific ID. Packing slips are delivered as Base64 encoded data.\n",
        "operationId": "sales_order_packing_slips",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID for the sales order that need to be considered for filter",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Format for the pick list. Available: a4_pdf, 10x19_pdf\n",
            "schema": {
              "type": "string",
              "enum": [
                "a4_pdf",
                "10x19_pdf"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Packing Slip"
                }
              }
            }
          },
          "401": {
            "$ref": "#/definitions/Response 401"
          },
          "404": {
            "$ref": "#/definitions/Response 404"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/sales_orders/{id}/create_shipment": {
      "post": {
        "tags": [
          "sales_orders"
        ],
        "summary": "Create shipment for sales order with specified ID",
        "description": "Create shipment for sales order.\n",
        "operationId": "sales_order_create_shipment",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID for the sales order that need to be created shipment for",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Sales Order"
                }
              }
            }
          },
          "401": {
            "$ref": "#/definitions/Response 401"
          },
          "404": {
            "$ref": "#/definitions/Response 404"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/sales_orders/{id}/capture": {
      "post": {
        "tags": [
          "sales_orders"
        ],
        "summary": "Capture payment for sales order with specified ID",
        "description": "Capture payment for sales order.\n",
        "operationId": "sales_order_capture",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID for the sales order that need to be captured",
            "required": true,
[...]
