swagger: '2.0'
info:
  description: |
    This is the official API for Shipmondo. The current version is v3.

    We recommend new implementations should be based on this version.

    The API provides multiple endpoints to Shipmondo. You need to have a credential, which consists of an API username and API key.

    You can achieved them through a Shipmondo account, under the Settings page.

    The credential must be passed through every request by using HTTP Basic Authentication technique.

    Should we introduce any new changes in the API which will break the structure of any existing API calls, these new changes will be introduced in a new version. This ensures that any systems which integrates up against our system will not be affected.

    The older API V2 is still being supported but no longer extended. Documentation: https://api.pakkelabels.dk/v2/

    We provide an official library for PHP: https://github.com/shipmondo/shipmondo_php_sdk

  version: 3.0.0
  title: Shipmondo
  contact:
    email: support@shipmondo.com

host: 'app.shipmondo.com'

basePath: /api/public/v3
schemes:
  - https

#region Tags
tags:
  - name: authentication
    description: Authentication
  - name: account
    description: Account
  - name: products
    description: Shipping Products
  - name: service_points
    description: Service Points
  - name: imported_shipments
    description: Imported Shipments
  - name: shipments
    description: Shipments
  - name: pickup_points
    description: Pickup Points
  - name: print_client
    description: Print Client
  - name: shipment_monitor
    description: Shipment Monitor
  - name: return_portals
    description: Return Portals
  - name: labels
    description: Labels
  - name: quotes
    description: Quotes
  - name: carriers
    description: Carriers
  - name: shipment_templates
    description: Shipment Templates
  - name: payment_gateways
    description: Payment Gateways
  - name: sales_orders
    description: Sales Orders
  - name: documents
    description: Documents
  - name: cmr_waybills
    description: CMR Waybills
  - name: pickup_requests
    description: Pickup Requests
  - name: pick_lists
    description: Pick Lists
#endregion

paths:

  #region Account
  /account/balance:
    get:
      tags:
        - account
      summary: 'Get current balance'
      description: |
        Get current balance for the account
      operationId: account_balance_get
      consumes:
        - application/json
      produces:
        - application/json
      responses:
        '200':
          description: Successful.
          schema:
            type: object
            properties:
              amount:
                type: number
                example: 1000.50
              currency_code:
                type: string
                example: "DKK"
              updated_at:
                type: string
                format: date-time
                example: "2017-06-19T00:00:00.000+02:00"
            xml:
              name: response
        '401':
          $ref: '#/definitions/Response 401'
      security:
        - basicAuth: []
  /account/payment_requests:
    get:
      tags:
        - account
      summary: 'Get payment requests'
      description: |
        Get payment requests
      operationId: payment_requests_get
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: "created_at_min"
          in: "query"
          type: "string"
          format: "date-time"
          description: |
            From timestamp for the payment requests that need to be considered for filter. Examples:
            * 2017-06-19T11:00:03.305+02:00
            * 2017-06-19 will be transformed into 2017-06-19T00:00:00.000+02:00
          required: false
        - name: "created_at_max"
          in: "query"
          type: "string"
          format: "date-time"
          description: |
            To timestamp for the payment requests that need to be considered for filter. Examples:
            * 2017-06-29T11:00:03.305+02:00
            * 2017-06-29 will be transformed into 2017-06-29T00:00:00.000+02:00
          required: false
        - name: "per_page"
          in: "query"
          type: "integer"
          format: "int32"
          description: For pagination. Defining how many entries returned per page. Default 20. Max 50.
          required: false
        - name: "page"
          in: "query"
          type: "integer"
          format: "int32"
          description: For pagination. Defining which page is the results are fetched from. Default 1.
      responses:
        '200':
          description: Successful.
          headers:
            X-Per-Page:
              type: integer
              description: Pagination - Per Page.
            X-Current-Page:
              type: integer
              description: Pagination - Current Page.
            X-Total-Count:
              type: integer
              description: Pagination - Total Count.
            X-Total-Pages:
              type: integer
              description: Pagination - Total Pages Count.
          schema:
            type: array
            items:
              $ref: '#/definitions/Payment Request'
        '401':
          $ref: '#/definitions/Response 401'
      security:
        - basicAuth: []
  #endregion

  #region Products
  /products:
    get:
      tags:
        - products
      summary: 'Get available products'
      description: |
        Gets the products and services

        All of available products are returned. If the user is trying to create a shipment with a product not available for their accout, error will occur.

        The code of the products and services are required when creating a shipment.
      operationId: products_get
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: "id"
          in: "query"
          type: "integer"
          format: "int32"
          description: "ID for the product that need to be considered for filter"
          required: false
        - name: "product_code"
          in: "query"
          type: "string"
          description: |
            Code for the product that need to be considered for filter

            Examples: GLSDK_SD, PDK_MH, DAO_P etc.
          required: false
        - name: "sender_country_code"
          in: "query"
          description: |
            Country code (ISO Alpha-2) of the sender country that need to be considered for filter.

            Examples: DK, SE, DE, etc.
          required: false
          type: "string"
          default: "DK"
        - name: "receiver_country_code"
          in: "query"
          description: |
            Country code (ISO Alpha-2) of the receiver country that need to be considered for filter.

            Examples: DK, SE, DE, etc.
          required: false
          type: "string"
          default: "DK"
        - name: "carrier_code"
          in: "query"
          type: "string"
          description: |
            Carrier code that need to be considered for filter

            Examples: bring, dao, dfm, dhl_express, dsv, gls, pdk, xpressen, brink
          required: false
          enum:
          - "bring"
          - "dao"
          - "dfm"
          - "dhl_express"
          - "dsv"
          - "gls"
          - "pdk"
          - "xpressen"
          - "ups"
          - "brink"
          default: gls
        - name: "per_page"
          in: "query"
          type: "integer"
          format: "int32"
          description: For pagination. Defining how many entries returned per page. Default 20. Max 50.
          required: false
        - name: "page"
          in: "query"
          type: "integer"
          format: "int32"
          description: For pagination. Defining which page is the results are fetched from. Default 1.
      responses:
        '200':
          description: Successful.
          headers:
            X-Per-Page:
              type: integer
              description: Pagination - Per Page.
            X-Current-Page:
              type: integer
              description: Pagination - Current Page.
            X-Total-Count:
              type: integer
              description: Pagination - Total Count.
            X-Total-Pages:
              type: integer
              description: Pagination - Total Pages Count.
          schema:
            type: array
            items:
              $ref: '#/definitions/Shipping Product'
        '401':
          $ref: '#/definitions/Response 401'
        '404':
          $ref: '#/definitions/Response 404'
      security:
        - basicAuth: []
  #endregion

  #region Package Types
  /package_types:
    get:
      tags:
      - package_types
      summary: 'Get available package types for carrier product'
      description: |
        Gets the package types for a product.

        All of available package types are returned for the giving product.

        The code of the package type is used when giving parcels in the creation of shipments.
      operationId: package_types_get
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: "product_code"
        in: "query"
        type: "string"
        description: "Code for the product that need to be considered for filter"
        required: false
      responses:
        '200':
          description: Successful.
          schema:
            type: array
            items:
              $ref: '#/definitions/Package Type'
        '401':
          $ref: '#/definitions/Response 401'
        '404':
          $ref: '#/definitions/Response 404'
      security:
      - basicAuth: []
  #endregion

  #region Shipments
  /shipments:
    get:
      tags:
        - shipments
      summary: 'Get Shipments'
      description: |
        Gets the shipments for the user.
      operationId: shipments_get
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: "id"
          in: "query"
          type: "integer"
          format: "int32"
          description: "ID for the shipment that need to be considered for filter"
          required: false
        - name: "order_id"
          in: "query"
          type: "string"
          description: "Order ID for the shipments that need to be considered for filter"
          required: false
        - name: "package_number"
          in: "query"
          type: "string"
          description: "Package number for the shipments that need to be considered for filter"
          required: false
        - name: "carrier_code"
          in: "query"
          type: "string"
          description: |
            Carrier code that need to be considered for filter

            Examples: bring, dao, dfm, dhl_express, gls, pdk, brink
          required: false
          enum:
          - "bring"
          - "dao"
          - "dfm"
          - "dhl_express"
          - "gls"
          - "pdk"
          - "xpressen"
          - "brink"
        - name: "receiver_country"
          in: "query"
          description: |
            Country code (ISO Alpha-2) that need to be considered for filter.

            Examples: DK, SE, DE, etc.
          required: false
          type: "string"
        - name: "created_at_min"
          in: "query"
          type: "string"
          format: "date-time"
          description: |
            From timestamp for the shipments that need to be considered for filter. Examples:
            * 2017-06-19T11:00:03.305+02:00
            * 2017-06-19 will be transformed into 2017-06-19T00:00:00.000+02:00
          required: false
        - name: "created_at_max"
          in: "query"
          type: "string"
          format: "date-time"
          description: |
            To timestamp for the shipments that need to be considered for filter. Examples:
            * 2017-06-29T11:00:03.305+02:00
            * 2017-06-29 will be transformed into 2017-06-29T00:00:00.000+02:00
          required: false
        - name: "per_page"
          in: "query"
          type: "integer"
          format: "int32"
          description: For pagination. Defining how many entries returned per page. Default 20. Max 50.
          required: false
        - name: "page"
          in: "query"
          type: "integer"
          format: "int32"
          description: For pagination. Defining which page is the results are fetched from. Default 1.
      responses:
        '200':
          description: Successful.
          headers:
            X-Per-Page:
              type: integer
              description: Pagination - Per Page.
            X-Current-Page:
              type: integer
              description: Pagination - Current Page.
            X-Total-Count:
              type: integer
              description: Pagination - Total Count.
            X-Total-Pages:
              type: integer
              description: Pagination - Total Pages Count.
          schema:
            type: array
            items:
              $ref: '#/definitions/Shipment'
        '401':
          $ref: '#/definitions/Response 401'
        '404':
          $ref: '#/definitions/Response 404'
      security:
        - basicAuth: []
    post:
      tags:
        - shipments
      summary: 'Create a new Shipment'
      description: |
        Create a new shipment.
      operationId: shipments_post
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: |
            Shipment Object.

            For some carriers, a simple model can be used while for others a more advanced model needs to be used.

            Examples for the advanced model can be found in the Models section.

            This request sample is based on the simple model.
          required: true
          schema:
            $ref: '#/definitions/Create Shipment Request Simple'
      responses:
        '200':
          description: Successful.
          schema:
            $ref: '#/definitions/Shipment'
        '401':
          $ref: '#/definitions/Response 401'
        '404':
          $ref: '#/definitions/Response 404'
        '422':
          $ref: '#/definitions/Response 422'
      security:
        - basicAuth: []
  /shipments/{id}:
    get:
      tags:
        - shipments
      summary: 'Get Shipment with specific ID'
      description: |
        Gets the shipment with specific ID for the user.
      operationId: shipment_get
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: "id"
          in: "path"
          type: "integer"
          format: "int32"
          description: "ID for the shipment that need to be considered for filter"
          required: true
      responses:
        '200':
          description: Successful.
          schema:
            $ref: '#/definitions/Shipment'
        '401':
          $ref: '#/definitions/Response 401'
        '404':
          $ref: '#/definitions/Response 404'
      security:
        - basicAuth: []
  #endregion

  #region Labels
  /shipments/{id}/labels:
    get:
      tags:
        - shipments
      summary: 'Get Labels for Shipment with specific ID'
      description: |
        Gets labels for the shipment with specific ID. Labels are delivered as Base64 encoded data.
      operationId: shipment_labels
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: "id"
          in: "path"
          type: "integer"
          format: "int32"
          description: "ID for the shipment that need to be considered for filter"
          required: true
        - name: "format"
          in: "query"
          type: "string"
          description: |
            Format for the labels. Available: a4_pdf, 10x19_pdf, png, zpl
          required: false
          enum:
          - "a4_pdf"
          - "10x19_pdf"
          - "png"
          - "zpl"
      responses:
        '200':
          description: Successful.
          schema:
            type: array
            items:
              $ref: "#/definitions/Label"
        '401':
          $ref: '#/definitions/Response 401'
        '404':
          $ref: '#/definitions/Response 404'
      security:
        - basicAuth: []

  #endregion

  #region Proforma Invoices
  /shipments/{id}/proforma_invoices:
    get:
      tags:
        - shipments
      summary: 'Get Proforma Invoices for Shipment with specific ID'
      description: |
        Gets proforma invoices for the shipment with specific ID. Proforma Invoices are generated based on the Customs data received and delivered as Base64 encoded data. Only necessary to use when Paperless Trade is not available.
      operationId: proforma_invoices_get
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: "id"
          in: "path"
          type: "integer"
          format: "int32"
          description: "ID for the shipment that need to be considered for filter"
          required: true
      responses:
        '200':
          description: Successful.
          schema:
            type: array
            items:
              $ref: "#/definitions/Proforma Invoice"
        '401':
          $ref: '#/definitions/Response 401'
        '404':
          $ref: '#/definitions/Response 404'
      security:
        - basicAuth: []
  #endregion

  #region Waybills
  /shipments/{id}/waybills:
    get:
      tags:
        - shipments
      summary: 'Get Waybills for Shipment with specific ID'
      description: |
        Gets waybills for the shipment with specific ID. Waybills are carrier specific and compared to collected waybills these only cover one shipment. Only Danske Fragtmænd supports this at the moment when "INCL_WAYBILL" services is booked.
      operationId: shipment_waybill_get
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: "id"
          in: "path"
          type: "integer"
          format: "int32"
          description: "ID for the shipment that need to be considered for filter"
          required: true
      responses:
        '200':
          description: Successful.
          schema:
            type: array
            items:
              $ref: "#/definitions/Document"
        '404':
          $ref: '#/definitions/Response 404'
      security:
        - basicAuth: []
  #endregion

  #region Shipment Cancel
  /shipments/{id}/cancel_at_carrier:
    put:
      tags:
        - shipments
      summary: 'Cancel TA shipment at carrier, with specific ID'
      description: |
        Cancels TA shipment at carrier if possible. Note that this doesn't refunds the shipment in Shipmondo. Currently supported carriers are: dao, FedEx, Brink Transport and Danske Fragtmænd.
      operationId: shipment_cancel_at_carrier
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: "id"
          in: "path"
          type: "integer"
          format: "int32"
          description: "ID for the shipment that need to be considered for filter"
          required: true
      responses:
        '200':
          description: Successful.
          schema:
            $ref: "#/definitions/Shipment Cancelled"
        '401':
          $ref: '#/definitions/Response 401'
        '404':
          $ref: '#/definitions/Response 404'
      security:
        - basicAuth: []

  #endregion

  #region CMR Waybills
  /cmr_waybills:
    get:
      tags:
        - cmr_waybills
      summary: 'Get CMR waybills'
      description: |
        Gets the CMR waybills for the user (excluding Base64 PDF).
      operationId: cmr_waybills_get
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: "id"
          in: "query"
          type: "integer"
          format: "int32"
          description: "ID for the CMR waybill that need to be considered for filter"
          required: false
        - name: "reference"
          in: "query"
          type: "string"
          description: "Reference for the CMR waybill that need to be considered for filter"
          required: false
        - name: "carrier_code"
          in: "query"
          type: "string"
          description: |
            Carrier code that need to be considered for filter

            Examples: bring
          required: false
          enum:
            - "bring"
        - name: "per_page"
          in: "query"
          type: "integer"
          format: "int32"
          description: For pagination. Defining how many entries returned per page. Default 20. Max 50.
          required: false
        - name: "page"
          in: "query"
          type: "integer"
          format: "int32"
          description: For pagination. Defining which page is the results are fetched from. Default 1.
      responses:
        200:
          description: Successful.
          headers:
            X-Per-Page:
              type: integer
              description: Pagination - Per Page.
            X-Current-Page:
              type: integer
              description: Pagination - Current Page.
            X-Total-Count:
              type: integer
              description: Pagination - Total Count.
            X-Total-Pages:
              type: integer
              description: Pagination - Total Pages Count.
          schema:
            type: array
            items:
              $ref: '#/definitions/CMR Waybill No Base64'
        '401':
          $ref: '#/definitions/Response 401'
      security:
        - basicAuth: []
    post:
      tags:
        - cmr_waybills
      summary: 'Create a new CMR waybill and associated routing label shipments'
      description: |
        Create a new CMR waybill and associated routing label shipments
      operationId: cmr_waybills_post
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description:
            CMR Waybill Object.<br>
            <strong>Note</strong>; loading (except date) and delivery is optional.<br>
            If not all fields are giving, loading will be overwritten by receiver (except date) and delivery will be overwritten by sender.
          required: true
          schema:
            $ref: '#/definitions/Create CMR Waybill Request'
      responses:
        '200':
          description: Successful.
          schema:
            $ref: '#/definitions/CMR Waybill'
        '401':
          $ref: '#/definitions/Response 401'
        '404':
          $ref: '#/definitions/Response 404'
        '422':
          $ref: '#/definitions/Response 422'
      security:
        - basicAuth: []
  /cmr_waybills/{id}:
    get:
      tags:
        - cmr_waybills
      summary: 'Get CMR Waybill (including Base64 PDF) with specific ID'
      description: |
        Gets the CMR waybill with specific ID for the user. The response include the Base64 for the CMR waybill PDF
      operationId: cmr_waybills_show
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: "id"
          in: "path"
          type: "integer"
          format: "int32"
          description: "ID for the CMR waybill that need to be considered for filter"
          required: true
      responses:
        '200':
          description: Successful.
          schema:
            $ref: '#/definitions/CMR Waybill'
        '401':
          $ref: '#/definitions/Response 401'
        '404':
          $ref: '#/definitions/Response 404'
      security:
        - basicAuth: []
  #endregion

  #region Imported Shipments
  /imported_shipments:
    get:
      tags:
        - imported_shipments
      summary: 'Get Imported Shipments'
      description: |
        Gets the imported shipments for the user.
      operationId: imported_shipments_get
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: "id"
          in: "query"
          type: "integer"
          format: "int32"
          description: "ID for the imported shipment that need to be considered for filter"
          required: false
        - name: "order_id"
          in: "query"
          type: "string"
          description: "Order ID for the imported shipment that need to be considered for filter"
          required: false
        - name: "created_at_min"
          in: "query"
          type: "string"
          format: "date-time"
          description: |
            From timestamp for the imported shipments that need to be considered for filter. Examples:
            * 2017-06-19T11:00:03.305+02:00
            * 2017-06-19 will be transformed into 2017-06-19T00:00:00.000+02:00
          required: false
        - name: "created_at_max"
          in: "query"
          type: "string"
          format: "date-time"
          description: |
            To timestamp for the imported shipments that need to be considered for filter. Examples:
            * 2017-06-29T11:00:03.305+02:00
            * 2017-06-29 will be transformed into 2017-06-29T00:00:00.000+02:00
          required: false
        - name: "per_page"
          in: "query"
          type: "integer"
          format: "int32"
          description: For pagination. Defining how many entries returned per page. Default 20. Max 50.
          required: false
        - name: "page"
          in: "query"
          type: "integer"
          format: "int32"
          description: For pagination. Defining which page is the results are fetched from. Default 1.
      responses:
        200:
          description: Successful.
          headers:
            X-Per-Page:
              type: integer
              description: Pagination - Per Page.
            X-Current-Page:
              type: integer
              description: Pagination - Current Page.
            X-Total-Count:
              type: integer
              description: Pagination - Total Count.
            X-Total-Pages:
              type: integer
              description: Pagination - Total Pages Count.
          schema:
            type: array
            items:
              $ref: '#/definitions/Imported Shipment'
        '401':
          $ref: '#/definitions/Response 401'
        '404':
          $ref: '#/definitions/Response 404'
      security:
        - basicAuth: []
    post:
      tags:
        - imported_shipments
      summary: 'Create a new Imported Shipment'
      description: |
        Create a new imported shipment. The imported shipment can be used to generate shipment through our Web App later.
      operationId: imported_shipments_post
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: Imported Shipment Object
          required: true
          schema:
            $ref: '#/definitions/Create Imported Shipment Request'
      responses:
        '200':
          description: Successful.
          schema:
            $ref: '#/definitions/Imported Shipment'
        '401':
          $ref: '#/definitions/Response 401'
        '404':
          $ref: '#/definitions/Response 404'
        '422':
          $ref: '#/definitions/Response 422'
      security:
        - basicAuth: []
  /imported_shipments/{id}:
    get:
      tags:
        - imported_shipments
      summary: 'Get Imported Shipment with specific ID'
      description: |
        Gets the imported shipments for the user.
      operationId: imported_shipment_get
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: "id"
          in: "path"
          type: "integer"
          format: "int32"
          description: "ID for the imported shipment that need to be considered for filter"
          required: true
      responses:
        '200':
          description: Successful.
          schema:
            $ref: '#/definitions/Imported Shipment'
        '401':
          $ref: '#/definitions/Response 401'
        '404':
          $ref: '#/definitions/Response 404'
      security:
        - basicAuth: []
    put:
      tags:
        - imported_shipments
      summary: 'Update an existing Imported Shipment'
      description: |
        Updating an existing imported shipment. The imported shipment can be used to generate shipment through our Web App later.
      operationId: imported_shipment_put
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: "id"
          in: "path"
          type: "integer"
          format: "int32"
          description: "ID for the imported shipment that need to be updated"
          required: true
        - in: body
          name: body
          description: Update Imported Shipment Body
          required: true
          schema:
            $ref: '#/definitions/Create Imported Shipment Request'
      responses:
        '200':
          description: Successful.
          schema:
            $ref: '#/definitions/Imported Shipment'
        '401':
          $ref: '#/definitions/Response 401'
        '404':
          $ref: '#/definitions/Response 404'
        '422':
          $ref: '#/definitions/Response 422'
      security:
        - basicAuth: []
    delete:
      tags:
        - imported_shipments
      summary: 'Delete/archive an existing Imported Shipment'
      description: |
        The shipment will be marked as archived and will no longer be visible in our Web App.
      operationId: imported_shipment_delete
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: "id"
          in: "path"
          type: "integer"
          format: "int32"
          description: "ID for the imported shipment that need to be updated"
          required: true
      responses:
        '200':
          description: Successful.
          schema:
            $ref: '#/definitions/Imported Shipment'
        '401':
          $ref: '#/definitions/Response 401'
        '404':
          $ref: '#/definitions/Response 404'
        '422':
          $ref: '#/definitions/Response 422'
      security:
        - basicAuth: []
  #endregion

  #region Pickup Points
  /pickup_points:
    get:
      tags:
        - pickup_points
      summary: 'Get available & nearest pickup points'
      description: |
        Get the available & nearest pickup points based on input.

        The identification of the pickup points can be used/required when creating a shipment.
      operationId: pickup_points_get
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: "carrier_code"
          in: "query"
          type: "string"
          description: |
            Carrier code that need to be considered for filter

            Available values: bring, dao, db_schenker_se, gls, pdk
          required: true
          enum:
          - "bring"
          - "dao"
          - "db_schenker_se"
          - "dhl_parcel"
          - "gls"
          - "pdk"
          - "gls_pl"
          - "ups"
          default: gls
        - name: "country_code"
          in: "query"
          description: |
            Country code (ISO Alpha-2) that need to be considered for filter.

            Available countries: DK, NO, SE, FI, NL, DE, BE, LU. Default: DK
          required: true
          type: "string"
          default: "DK"
        - name: "zipcode"
          in: "query"
          description: |
            ZIP code / Postal code
          required: true
          type: "string"
          default: "5000"
        - name: "city"
          in: "query"
          description: |
            Name of the city. It is recommended to include city with the request to increase the hit accuracy.
          required: false
          type: "string"
          default: "5000"
        - name: "address"
          in: "query"
          description: |
            Street address (contains street name and house number)
          required: false
          type: "string"
        - name: "id"
          in: "query"
          type: "string"
          description: The ID of the droppoint at shipping agent. Once this field is used, zipcode is no longer mandatory.
          required: false
        - name: "quantity"
          in: "query"
          type: "integer"
          format: "int32"
          description: Defining how many pickup points are being returned. Default 10. Max 50.
          required: false
        - name: "collect_points"
          in: "query"
          type: "boolean"
          format: "bool"
          description: Set as true to get collect points for products like GLS Click&Collect
          default: false
          required: false
        - name: "product_code"
          in: "query"
          type: "string"
          description: Used to i.e. determine whether to return postfiliale (default) or packstations for DHL Parcel.
          required: false
      responses:
        '200':
          description: Successful.
          schema:
            type: array
            items:
              $ref: '#/definitions/Service Point'
        '401':
          $ref: '#/definitions/Response 401'
        '404':
          $ref: '#/definitions/Response 404'
      security:
        - basicAuth: []
  #endregion

  #region Shipment Monitor
  /shipment_monitor_statuses:
    get:
      tags:
        - shipment_monitor
      summary: 'Get shipment monitor statuses'
      description: |
        Get shipment monitor statues for specific shipments. Limit: 100 shipment ID's per request.
      operationId: shipment_monitor_statuses_get
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
      - name: "ids"
        in: "query"
        description: |
          A list of shipment ID's that you want to fetch shipment monitor statuses for. Examples 10075,10076,10077
        required: true
        type: "array"
        items:
          type: string
        collectionFormat: csv
      responses:
        '200':
          description: Successful.
          headers:
            X-Per-Page:
              type: integer
              description: Pagination - Per Page.
            X-Current-Page:
              type: integer
              description: Pagination - Current Page.
            X-Total-Count:
              type: integer
              description: Pagination - Total Count.
            X-Total-Pages:
              type: integer
              description: Pagination - Total Pages Count.
          schema:
            type: array
            items:
              $ref: '#/definitions/Shipment Monitor Status'
        '401':
          $ref: '#/definitions/Response 401'
        '404':
          $ref: '#/definitions/Response 404'
      security:
        - basicAuth: []
  /shipment_monitor_details:
    get:
      tags:
      - shipment_monitor
      summary: 'Get shipment monitor details'
      description: |
        Get shipment monitor details for specific shipments. Limit: 100 shipment ID's per request.
      operationId: shipment_monitor_details_get
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: "ids"
        in: "query"
        description: |
          A list of shipment ID's that you want to fetch shipment monitor details for. Examples 10075,10076,10077
        required: true
        type: "array"
        items:
          type: string
        collectionFormat: csv
      responses:
        '200':
          description: Successful.
          schema:
            type: array
            items:
              $ref: '#/definitions/Shipment Monitor Details'
        '401':
          $ref: '#/definitions/Response 401'
        '404':
          $ref: '#/definitions/Response 404'
      security:
      - basicAuth: []
  #endregion

  #region Printers
  /printers:
    get:
      tags:
        - print_client
      summary: 'Get printers for the current account'
      description: |
        Get printers
      operationId: printers_get
      consumes:
        - application/json
      produces:
        - application/json
      responses:
        '200':
          description: Successful.
          schema:
            type: array
            items:
              $ref: '#/definitions/Printer'
        '401':
          $ref: '#/definitions/Response 401'
        '404':
          $ref: '#/definitions/Response 404'
      security:
        - basicAuth: []
  /print_jobs:
    post:
      tags:
        - print_client
      summary: 'Create a print job'
      description: |
        Get printers
      operationId: print_jobs_post
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: Sales Order Object
          required: true
          schema:
            $ref: '#/definitions/Print Job'
      responses:
        '200':
          description: Successful.
          schema:
            type: array
            items:
              $ref: '#/definitions/Print Job'
        '401':
          $ref: '#/definitions/Response 401'
        '404':
          $ref: '#/definitions/Response 404'
      security:
        - basicAuth: []
  #endregion

  #region Pick Lists
  /pick_lists:
    get:
      tags:
        - pick_lists
      summary: 'Get pick lists with specified IDs'
      description: |
        Get pick lists for specific sales orders with specified IDs. Limit: 25 Sales Order ID's per request.
      operationId: pick_list_get
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
      - name: "ids"
        in: "query"
        description: |
          A list of sales order ID's that you want to fetch pick lists for. Examples 10075,10076,10077
        required: true
        type: "array"
        items:
          type: string
        collectionFormat: csv
      - name: "output_format"
        in: "query"
        type: "string"
        description: |
          Format for the pick lists. Available: a4_pdf, 10x19_pdf
        required: false
        enum:
        - "a4_pdf"
        - "10x19_pdf"
      responses:
        '200':
          description: Successful.
          headers:
            X-Per-Page:
              type: integer
              description: Pagination - Per Page.
            X-Current-Page:
              type: integer
              description: Pagination - Current Page.
            X-Total-Count:
              type: integer
              description: Pagination - Total Count.
            X-Total-Pages:
              type: integer
              description: Pagination - Total Pages Count.
          schema:
            type: array
            items:
              $ref: '#/definitions/Pick List'
        '401':
          $ref: '#/definitions/Response 401'
        '404':
          $ref: '#/definitions/Response 404'
      security:
        - basicAuth: []
  #endregion

  #region Packing Slips
  /packing_slips:
    get:
      tags:
        - packing_slips
      summary: 'Get packing slips with specified Sales Order IDs'
      description: |
        Get packing slips for specific sales orders with specified IDs. Limit: 25 Sales Order ID's per request.
      operationId: packing_slip_get
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
      - name: "ids"
        in: "query"
        description: |
          A list of sales order ID's that you want to fetch packing slips for. Examples 10075,10076,10077
        required: true
        type: "array"
        items:
          type: string
        collectionFormat: csv
      - name: "output_format"
        in: "query"
        type: "string"
        description: |
          Format for the packing slips. Available: a4_pdf, 10x19_pdf
        required: false
        enum:
        - "a4_pdf"
        - "10x19_pdf"
      responses:
        '200':
          description: Successful.
          headers:
            X-Per-Page:
              type: integer
              description: Pagination - Per Page.
            X-Current-Page:
              type: integer
              description: Pagination - Current Page.
            X-Total-Count:
              type: integer
              description: Pagination - Total Count.
            X-Total-Pages:
              type: integer
              description: Pagination - Total Pages Count.
          schema:
            type: array
            items:
              $ref: '#/definitions/Packing Slip'
        '401':
          $ref: '#/definitions/Response 401'
        '404':
          $ref: '#/definitions/Response 404'
      security:
        - basicAuth: []
  #endregion

  #region Return Portals
  /return_portals:
    get:
      tags:
        - return_portals
      summary: 'Get return portals'
      description: |
        Get return portals for the user.
      operationId: return_portals_get
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: "id"
          in: "query"
          type: "integer"
          format: "int32"
          description: "ID for the return portal that needs to be acquired"
          required: false
        - name: "active"
          in: "query"
          type: "boolean"
          format: "bool"
          description: "Filters for whether or not the return portal is active"
          required: false
        - name: "per_page"
          in: "query"
          type: "integer"
          format: "int32"
          description: For pagination. Defining how many entries returned per page. Default 10. Max 25.
          required: false
        - name: "page"
          in: "query"
          type: "integer"
          format: "int32"
          description: For pagination. Defining which page is the results are fetched from. Default 1.
      responses:
        '200':
          description: Successful.
          headers:
            X-Per-Page:
              type: integer
              description: Pagination - Per Page.
            X-Current-Page:
              type: integer
              description: Pagination - Current Page.
            X-Total-Count:
              type: integer
              description: Pagination - Total Count.
            X-Total-Pages:
              type: integer
              description: Pagination - Total Pages Count.
          schema:
            $ref: '#/definitions/Return Portals'
        '401':
          $ref: '#/definitions/Response 401'
        '404':
          $ref: '#/definitions/Response 404'
      security:
        - basicAuth: []
  /return_portals/{id}:
    get:
      tags:
        - return_portals
      summary: 'Get Return Portal with specific ID'
      description: |
        Gets the return portal with the specified ID for the user.
      operationId: return_portal_get
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: "id"
          in: "path"
          type: "integer"
          format: "int32"
          description: "ID for the return portal that need to be considered for filter"
          required: true
      responses:
        '200':
          description: Successful.
          schema:
            $ref: '#/definitions/Return Portal'
        '401':
          $ref: '#/definitions/Response 401'
        '404':
          $ref: '#/definitions/Response 404'
      security:
        - basicAuth: []
  #endregion

  #region Return Portal Shipments
  /return_portals/{id}/shipments:
    get:
      tags:
        - return_portals
      summary: 'Get Shipments for Return Portal with specific ID'
      description: |
        Gets shipments for the return portal with the specified ID.
      operationId: return_portals_shipments_get
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: "id"
          in: "path"
          type: "integer"
          format: "int32"
          description: "ID for the return portal that need to be considered for filter"
          required: true
        - name: "order_id"
          in: "query"
          type: "string"
          description: "Order ID for the shipments that need to be considered for filter"
          required: false
        - name: "package_number"
          in: "query"
          type: "string"
          description: "Package number for the shipments that need to be considered for filter"
          required: false
        - name: "carrier_code"
          in: "query"
          type: "string"
          description: |
            Carrier code that need to be considered for filter

            Examples: bring, dao, dfm, dhl_express, gls, pdk
          required: false
          enum:
          - "bring"
          - "dao"
          - "dfm"
          - "dhl_express"
          - "gls"
          - "pdk"
          - "xpressen"
        - name: "receiver_country"
          in: "query"
          description: |
            Country code (ISO Alpha-2) that need to be considered for filter.

            Examples: DK, SE, DE, etc.
          required: false
          type: "string"
        - name: "created_at_min"
          in: "query"
          type: "string"
          format: "date-time"
          description: |
            From timestamp for the shipments that need to be considered for filter. Examples:
            * 2017-06-19T11:00:03.305+02:00
            * 2017-06-19 will be transformed into 2017-06-19T00:00:00.000+02:00
          required: false
        - name: "created_at_max"
          in: "query"
          type: "string"
          format: "date-time"
          description: |
            To timestamp for the shipments that need to be considered for filter. Examples:
            * 2017-06-29T11:00:03.305+02:00
            * 2017-06-29 will be transformed into 2017-06-29T00:00:00.000+02:00
          required: false
        - name: "per_page"
          in: "query"
          type: "integer"
          format: "int32"
          description: For pagination. Defining how many entries returned per page. Default 20. Max 50.
          required: false
        - name: "page"
          in: "query"
          type: "integer"
          format: "int32"
          description: For pagination. Defining which page is the results are fetched from. Default 1.
      responses:
        '200':
          description: Successful.
          headers:
            X-Per-Page:
              type: integer
              description: Pagination - Per Page.
            X-Current-Page:
              type: integer
              description: Pagination - Current Page.
            X-Total-Count:
              type: integer
              description: Pagination - Total Count.
            X-Total-Pages:
              type: integer
              description: Pagination - Total Pages Count.
          schema:
            type: array
            items:
              $ref: '#/definitions/Shipment'
        '401':
          $ref: '#/definitions/Response 401'
        '404':
          $ref: '#/definitions/Response 404'
      security:
        - basicAuth: []

  #endregion

  #region Multiple Labels
  /labels:
    get:
      tags:
        - labels
      summary: 'Get labels with specified IDs'
      description: |
        Get labels for specific shipments with specified IDs. Limit: 25 shipment ID's per request.
      operationId: labels_get
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
      - name: "ids"
        in: "query"
        description: |
          A list of shipment ID's that you want to fetch labels for. Examples 10075,10076,10077
        required: true
        type: "array"
        items:
          type: string
        collectionFormat: csv
      - name: "label_format"
        in: "query"
        type: "string"
        description: |
          Format for the labels. Available: a4_pdf, 10x19_pdf, png, zpl
        required: false
        enum:
        - "a4_pdf"
        - "10x19_pdf"
        - "png"
        - "zpl"
      responses:
        '200':
          description: Successful.
          headers:
            X-Per-Page:
              type: integer
              description: Pagination - Per Page.
            X-Current-Page:
              type: integer
              description: Pagination - Current Page.
            X-Total-Count:
              type: integer
              description: Pagination - Total Count.
            X-Total-Pages:
              type: integer
              description: Pagination - Total Pages Count.
          schema:
            type: array
            items:
              $ref: '#/definitions/Labels'
        '401':
          $ref: '#/definitions/Response 401'
        '404':
          $ref: '#/definitions/Response 404'
      security:
        - basicAuth: []
  #endregion

  #region Quotes
  /quotes:
    post:
      tags:
        - quotes
      summary: 'Get quote for a shipment'
      description: |
        Quote for a shipment with specified sender (origin), receiver (destination), product and services
      operationId: quotes_post
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: |
            Quote Object.
          required: true
          schema:
            $ref: '#/definitions/Create Quote Request'
      responses:
        '200':
          description: Successful.
          schema:
            $ref: '#/definitions/Create Quote Response'
        '401':
          $ref: '#/definitions/Response 401'
        '404':
          $ref: '#/definitions/Response 404'
        '422':
          $ref: '#/definitions/Response 422'
      security:
        - basicAuth: []
  /quotes/list:
    post:
      tags:
        - quotes
      summary: 'Get available quotes for a shipment'
      description: |
        Array of available quotes for a shipment with specified sender (origin), receiver (destination).
      operationId: quotes/list_post
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: |
            Quote Objects.
          required: true
          schema:
            $ref: '#/definitions/Create Quote List Request'
      responses:
        '200':
          description: Successful.
          schema:
            type: array
            items:
              $ref: '#/definitions/Create Quote List Response'
        '401':
          $ref: '#/definitions/Response 401'
        '404':
          $ref: '#/definitions/Response 404'
        '422':
          $ref: '#/definitions/Response 422'
      security:
        - basicAuth: []
  #endregion

  #region Carriers
  /carriers:
    get:
      tags:
        - carriers
      summary: 'Get available carriers'
      description: |
        Gets available carriers for the current user.
      operationId: carriers_get
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: "country_code"
          in: "query"
          type: "string"
          description: "Country to get carriers for."
          required: true
          default: "DK"
      responses:
        '200':
          description: Successful.
          schema:
            $ref: '#/definitions/Carriers'
        '401':
          $ref: '#/definitions/Response 401'
        '404':
          $ref: '#/definitions/Response 404'
        '422':
          $ref: '#/definitions/Response 422'
      security:
        - basicAuth: []
  #endregion

  #region Shipment Templates
  /shipment_templates:
    get:
      tags:
        - shipment_templates
      summary: 'Get Shipment Templates'
      description: |
        Gets the shipment templates for the user.
      operationId: shipment_templates_get
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: "id"
          in: "query"
          type: "integer"
          format: "int32"
          description: "ID for the shipment template that need to be considered for filter"
          required: false
        - name: "sender_country"
          in: "query"
          description: |
            Country code (ISO Alpha-2) that need to be considered for filter.

            Examples: DK, SE, DE, etc.
          required: false
          type: "string"
        - name: "receiver_country"
          in: "query"
          description: |
            Country code (ISO Alpha-2) that need to be considered for filter.

            Examples: DK, SE, DE, etc.
          required: false
          type: "string"
        - name: "per_page"
          in: "query"
          type: "integer"
          format: "int32"
          description: For pagination. Defining how many entries returned per page. Default 20. Max 50.
          required: false
        - name: "page"
          in: "query"
          type: "integer"
          format: "int32"
          description: For pagination. Defining which page is the results are fetched from. Default 1.
      responses:
        200:
          description: Successful.
          headers:
            X-Per-Page:
              type: integer
              description: Pagination - Per Page.
            X-Current-Page:
              type: integer
              description: Pagination - Current Page.
            X-Total-Count:
              type: integer
              description: Pagination - Total Count.
            X-Total-Pages:
              type: integer
              description: Pagination - Total Pages Count.
          schema:
            type: array
            items:
              $ref: '#/definitions/Shipment Template'
        '401':
          $ref: '#/definitions/Response 401'
        '404':
          $ref: '#/definitions/Response 404'
      security:
        - basicAuth: []
  /shipment_templates/{id}:
    get:
      tags:
        - shipment_templates
      summary: 'Get Shipment Template with specific ID'
      description: |
        Gets the shipment templates for the user.
      operationId: shipment_template_get
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: "id"
          in: "path"
          type: "integer"
          format: "int32"
          description: "ID for the shipment template that need to be considered for filter"
          required: true
      responses:
        '200':
          description: Successful.
          schema:
            type: array
            items:
              $ref: '#/definitions/Shipment Template'
        '401':
          $ref: '#/definitions/Response 401'
        '404':
          $ref: '#/definitions/Response 404'
      security:
        - basicAuth: []
  #endregion

  #region Sales Orders
  /sales_orders:
    get:
      tags:
        - sales_orders
      summary: 'Get sales orders'
      description: |
        Gets the sales orders for the user.
      operationId: sales_orders_get
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: "id"
          in: "query"
          type: "integer"
          format: "int32"
          description: "ID for the sales order that need to be considered for filter"
          required: false
        - name: "order_id"
          in: "query"
          type: "string"
          description: "Order ID for the sales order that need to be considered for filter"
          required: false
        - name: "archived"
          in: "query"
          type: boolean
          description: "Filter for achived or not"
          required: false
        - name: "created_at_min"
          in: "query"
          type: "string"
          format: "date-time"
          description: |
            From created-timestamp for the sales orders that need to be considered for filter. Examples:
            * 2018-06-19T11:00:03.305+02:00
            * 2018-06-19 will be transformed into 2017-06-19T00:00:00.000+02:00
          required: false
        - name: "created_at_max"
          in: "query"
          type: "string"
          format: "date-time"
          description: |
            To created-timestamp for the sales orders that need to be considered for filter. Examples:
            * 2018-06-29T11:00:03.305+02:00
            * 2018-06-29 will be transformed into 2017-06-29T00:00:00.000+02:00
          required: false
        - name: "updated_at_min"
          in: "query"
          type: "string"
          format: "date-time"
          description: |
            From updated-timestamp for the sales orders that need to be considered for filter. Examples:
            * 2018-06-19T11:00:03.305+02:00
            * 2018-06-19 will be transformed into 2017-06-19T00:00:00.000+02:00
          required: false
        - name: "updated_at_max"
          in: "query"
          type: "string"
          format: "date-time"
          description: |
            To updated-timestamp for the sales orders that need to be considered for filter. Examples:
            * 2018-06-29T11:00:03.305+02:00
            * 2018-06-29 will be transformed into 2017-06-29T00:00:00.000+02:00
          required: false
        - name: "per_page"
          in: "query"
          type: "integer"
          format: "int32"
          description: For pagination. Defining how many entries returned per page. Default 10. Max 25.
          required: false
        - name: "page"
          in: "query"
          type: "integer"
          format: "int32"
          description: For pagination. Defining which page is the results are fetched from. Default 1.
      responses:
        200:
          description: Successful.
          headers:
            X-Per-Page:
              type: integer
              description: Pagination - Per Page.
            X-Current-Page:
              type: integer
              description: Pagination - Current Page.
            X-Total-Count:
              type: integer
              description: Pagination - Total Count.
            X-Total-Pages:
              type: integer
              description: Pagination - Total Pages Count.
          schema:
            type: array
            items:
              $ref: '#/definitions/Sales Order'
        '401':
          $ref: '#/definitions/Response 401'
        '404':
          $ref: '#/definitions/Response 404'
      security:
        - basicAuth: []
    post:
      tags:
        - sales_orders
      summary: 'Create a new sales order'
      description: |
        Create a new sales order. The sales order can be used to pack, handle, and send shipments through the Shipmondo App.
      operationId: sales_orders_post
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: Sales Order Object
          required: true
          schema:
            $ref: '#/definitions/Create Sales Order Request'
      responses:
        '200':
          description: Successful.
          schema:
            $ref: '#/definitions/Sales Order'
        '401':
          $ref: '#/definitions/Response 401'
        '404':
          $ref: '#/definitions/Response 404'
        '422':
          $ref: '#/definitions/Response 422'
      security:
        - basicAuth: []
  /sales_orders/{id}:
    get:
      tags:
        - sales_orders
      summary: 'Get sales order with specific ID'
      description: |
        Gets the sales orders for the user.
      operationId: sales_order_get
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: "id"
          in: "path"
          type: "integer"
          format: "int32"
          description: "ID for the sales order that need to be considered for filter"
          required: true
      responses:
        '200':
          description: Successful.
          schema:
            $ref: '#/definitions/Sales Order'
        '401':
          $ref: '#/definitions/Response 401'
        '404':
          $ref: '#/definitions/Response 404'
      security:
        - basicAuth: []
  /sales_orders/{id}/pick_list:
    get:
      tags:
        - sales_orders
      summary: 'Get Pick list for Sales order with specific ID'
      description: |
        Gets Pick list for the sales order with specific ID. Pick list is delivered as Base64 encoded data.
      operationId: sales_order_pick_list
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: "id"
          in: "path"
          type: "integer"
          format: "int32"
          description: "ID for the sales order that need to be considered for filter"
          required: true
        - name: "format"
          in: "query"
          type: "string"
          description: |
            Format for the pick list. Available: a4_pdf, 10x19_pdf
          required: false
          enum:
          - "a4_pdf"
          - "10x19_pdf"
      responses:
        '200':
          description: Successful.
          schema:
            type: array
            items:
              $ref: "#/definitions/Pick List Data"
        '401':
          $ref: '#/definitions/Response 401'
        '404':
          $ref: '#/definitions/Response 404'
      security:
        - basicAuth: []
  /sales_orders/{id}/packing_slips:
    get:
      tags:
        - sales_orders
      summary: 'Get Packing slips for Sales order with specific ID'
      description: |
        Gets Packing slips for the sales order with specific ID. Packing slips are delivered as Base64 encoded data.
      operationId: sales_order_packing_slips
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: "id"
          in: "path"
          type: "integer"
          format: "int32"
          description: "ID for the sales order that need to be considered for filter"
          required: true
        - name: "format"
          in: "query"
          type: "string"
          description: |
            Format for the pick list. Available: a4_pdf, 10x19_pdf
          required: false
          enum:
          - "a4_pdf"
          - "10x19_pdf"
      responses:
        '200':
          description: Successful.
          schema:
            $ref: "#/definitions/Packing Slip"
        '401':
          $ref: '#/definitions/Response 401'
        '404':
          $ref: '#/definitions/Response 404'
      security:
        - basicAuth: []
  /sales_orders/{id}/create_shipment:
    post:
      tags:
        - sales_orders
      summary: 'Create shipment for sales order with specified ID'
      description: |
        Create shipment for sales order.
      operationId: sales_order_create_shipment
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: "id"
          in: "path"
          type: "integer"
          format: "int32"
          description: "ID for the sales order that need to be created shipment for"
          required: true
      responses:
        '200':
          description: Successful.
          schema:
            $ref: '#/definitions/Sales Order'
        '401':
          $ref: '#/definitions/Response 401'
        '404':
          $ref: '#/definitions/Response 404'
      security:
        - basicAuth: []
  /sales_orders/{id}/capture:
    post:
      tags:
        - sales_orders
      summary: 'Capture payment for sales order with specified ID'
      description: |
        Capture payment for sales order.
      operationId: sales_order_capture
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: "id"
          in: "path"
          type: "integer"
          format: "int32"
          description: "ID for the sales order that need to be captured"
          required: true
      responses:
        '200':
          description: Successful.
          schema:
            $ref: '#/definitions/Sales Order'
        '401':
          $ref: '#/definitions/Response 401'
        '404':
          $ref: '#/definitions/Response 404'
      security:
        - basicAuth: []
  /sales_orders/{id}/order_note:
    put:
      tags:
        - sales_orders
      summary: 'Update note for sales order with specified ID'
      description: |
        Update note for sales order.
      operationId: sales_order_update_note
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: "id"
          in: "path"
          type: "integer"
          format: "int32"
          description: "ID for the sales order that note should be updated for"
          required: true
        - in: body
          name: body
          description: Sales Order Object
          required: true
          schema:
            $ref: '#/definitions/Update Sales Order Note'
      responses:
        '200':
          description: Successful.
          schema:
            $ref: '#/definitions/Sales Order'
        '401':
          $ref: '#/definitions/Response 401'
        '404':
          $ref: '#/definitions/Response 404'
      security:
        - basicAuth: []
  /sales_orders/barcode:
    post:
      tags:
        - sales_orders
      summary: 'Process sales order barcode'
      description: |
        Update note for sales order.
      operationId: sales_order_barcode
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: Sales Order Object
          required: true
          schema:
            $ref: '#/definitions/Process Sales Order Barcode'
      responses:
        '200':
          description: Successful.
          schema:
            $ref: '#/definitions/Sales Order'
        '401':
          $ref: '#/definitions/Response 401'
        '404':
          $ref: '#/definitions/Response 404'
      security:
        - basicAuth: []
  #endregion

  #region Payment Gateways
  /payment_gateways:
    get:
      tags:
        - payment_gateways
      summary: 'Get payment gateways'
      description: |
        Gets the payment gateways for the user.
      operationId: payment_gateways_get
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: "id"
          in: "query"
          type: "integer"
          format: "int32"
          description: "ID for the payment gateway that need to be considered for filter"
          required: false
        - name: "per_page"
          in: "query"
          type: "integer"
          format: "int32"
          description: For pagination. Defining how many entries returned per page. Default 20. Max 50.
          required: false
        - name: "page"
          in: "query"
          type: "integer"
          format: "int32"
          description: For pagination. Defining which page is the results are fetched from. Default 1.
      responses:
        200:
          description: Successful.
          headers:
            X-Per-Page:
              type: integer
              description: Pagination - Per Page.
            X-Current-Page:
              type: integer
              description: Pagination - Current Page.
            X-Total-Count:
              type: integer
              description: Pagination - Total Count.
            X-Total-Pages:
              type: integer
              description: Pagination - Total Pages Count.
          schema:
            type: array
            items:
              $ref: '#/definitions/Payment Gateway'
        '401':
          $ref: '#/definitions/Response 401'
        '404':
          $ref: '#/definitions/Response 404'
      security:
        - basicAuth: []
  /payment_gateways/{id}:
    get:
      tags:
        - payment_gateways
      summary: 'Get payment gateway with specific ID'
      description: |
        Gets the payment gateways for the user.
      operationId: payment_gateway_get
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: "id"
          in: "path"
          type: "integer"
          format: "int32"
          description: "ID for the payment gateway that need to be considered for filter"
          required: true
      responses:
        '200':
          description: Successful.
          schema:
            type: array
            items:
              $ref: '#/definitions/Payment Gateway'
        '401':
          $ref: '#/definitions/Response 401'
        '404':
          $ref: '#/definitions/Response 404'
      security:
        - basicAuth: []
  #endregion

  #region Documents
  /documents/end_of_day:
    get:
      tags:
        - documents
      summary: 'Get end of day list for a specific carrier'
      description: |
        Gets end of day list for a specific carrier.
      operationId: end_of_day_get
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: "carrier_code"
          in: "query"
          type: "string"
          description: |
            Carrier code that end of day list should be generated for

            Examples: bring, dao, dfm, dhl_express, dsv, gls, pdk, xpressen, brink
          required: true
          enum:
          - "bring"
          - "dao"
          - "dfm"
          - "dhl_express"
          - "dsv"
          - "gls"
          - "pdk"
          - "xpressen"
          - "brink"
          - "gls_pl"
        - name: "from_time"
          in: "query"
          type: "string"
          format: "date-time"
          description: |
            From timestamp for the end of day document. Examples:
            * 2018-06-19T11:00:00.305+02:00
            * 2018-06-19 will be transformed into 2018-06-19T00:00:00.000+02:00
          required: true
        - name: "to_time"
          in: "query"
          type: "string"
          format: "date-time"
          description: |
            To timestamp for the end of day document. Examples:
            * 2018-06-20T11:00:00.305+02:00
            * 2018-06-20 will be transformed into 2018-06-20T00:00:00.000+02:00
          required: true
      responses:
        200:
          description: Successful.
          schema:
            $ref: '#/definitions/Document'
        '401':
          $ref: '#/definitions/Response 401'
        '404':
          $ref: '#/definitions/Response 404'
      security:
        - basicAuth: []
  /documents/waybill:
    get:
      tags:
        - documents
      summary: 'Get waybill for i.e. PostNord varebrev'
      description: |
        Gets waybill for i.e. PostNord varebrev.
      operationId: waybill_get
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: "carrier_code"
          in: "query"
          type: "string"
          description: |
            Carrier code that need to be considered for filter

            Examples: pdk, deutsche_post, bring
          required: false
          default: 'pdk'
          enum:
            - "pdk"
            - 'deutsche_post'
            - 'bring'
        - name: "bag_quantity"
          in: "query"
          type: "integer"
          required: false
          default: 0
          description: "Quantity of bags to be declared <br>
            <strong>Note:</strong>
            <ul>
              <li>Required for PostNord</li>
              <li>Required for Deutsche Post, but is only used if an open order is closed</li>
              <li>Ignored for Bring</li>
             </ul>"
        - name: "container_quantity"
          in: "query"
          type: "integer"
          required: false
          default: 0
          description: "Quantity of bags to be declared <br>
            <strong>Note:</strong>
            <ul>
              <li>Required for PostNord</li>
              <li>If used with Deutsche Post it is just added to bag_quantity</li>
              <li>Ignored for Bring</li>
            </ul>"
        - name: "from_time"
          in: "query"
          type: "string"
          format: "date-time"
          description: |
            From timestamp for the waybill document. Examples:
            * 2018-06-19T11:00:00.305+02:00
            * 2018-06-19 will be transformed into 2018-06-19T00:00:00.000+02:00
          required: true
        - name: "to_time"
          in: "query"
          type: "string"
          format: "date-time"
          description: |
            To timestamp for the waybill document. Examples:
            * 2018-06-20T11:00:00.305+02:00
            * 2018-06-20 will be transformed into 2018-06-20T00:00:00.000+02:00
          required: true
        - name: "product_id"
          in: "query"
          type: integer
          description: |
            Determines the product of the waybill:
            * 1 / none = Varebrev (Legacy)
            * 2 = PostNord Tracked
            * 3 = PostNord Untracked
      responses:
        200:
          description: Successful.
          schema:
            $ref: '#/definitions/Document'
        '401':
          $ref: '#/definitions/Response 401'
        '404':
          $ref: '#/definitions/Response 404'
      security:
        - basicAuth: []
  #endregion

  #region Pickup Requests
  /pickup_requests:
    get:
      tags:
        - pickup_requests
      summary: 'Get pickup requests'
      description: |
        Gets the pickup requests for the user.
      operationId: pickup_requests_get
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: "id"
          in: "query"
          type: "integer"
          format: "int32"
          description: "ID for the pickup request that need to be considered for filter"
          required: false
        - name: "carrier_code"
          in: "query"
          type: "string"
          description: |
            Carrier code that need to be considered for filter

            Examples: ups, fed_ex, dhl_express
          required: false
          enum:
            - "fed_ex"
            - "ups"
            - "dhl_express"
        - name: "per_page"
          in: "query"
          type: "integer"
          format: "int32"
          description: For pagination. Defining how many entries returned per page. Default 20. Max 50.
          required: false
        - name: "page"
          in: "query"
          type: "integer"
          format: "int32"
          description: For pagination. Defining which page is the results are fetched from. Default 1.
      responses:
        200:

          description: Successful.
          headers:
            X-Per-Page:
              type: integer
              description: Pagination - Per Page.
            X-Current-Page:
              type: integer
              description: Pagination - Current Page.
            X-Total-Count:
              type: integer
              description: Pagination - Total Count.
            X-Total-Pages:
              type: integer
              description: Pagination - Total Pages Count.
          schema:
            type: array
            items:
              $ref: '#/definitions/Pickup Request No Shipments'
        '401':
          $ref: '#/definitions/Response 401'
      security:
        - basicAuth: []
    post:
      tags:
        - pickup_requests
      summary: 'Create a pickup requests and book it at the carrier'
      description: |
        Create a pickup requests and book it at the carrier
      operationId: pickup_requests_post
      consumes:
        - application/json
      produces:
        - application/pdf
      parameters:
        - in: body
          name: body
          description:
            Pickup Request object.<br>
            <strong>Note</strong>; is_residential is only for ups<br>
            <strong>is_residential</strong>; is the pickup address residential?<br>
          required: true
          schema:
            $ref: '#/definitions/Create Pickup Request Request'
      responses:
        '200':
          description: Successful.
          schema:
            $ref: '#/definitions/Pickup Request'
        '401':
          $ref: '#/definitions/Response 401'
        '404':
          $ref: '#/definitions/Response 404'
        '422':
          $ref: '#/definitions/Response 422'
      security:
        - basicAuth: []
  /pickup_requests/{id}:
    get:
      tags:
        - pickup_requests
      summary: 'Get pickup request with specific ID'
      description: |
        Gets the pickup request with specific ID for the user
      operationId: pickup_requests_show
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: "id"
          in: "path"
          type: "integer"
          format: "int32"
          description: "ID for the pickup request that need to be considered for filter"
          required: true
      responses:
        '200':
          description: Successful.
          schema:
            $ref: '#/definitions/Pickup Request'
        '401':
          $ref: '#/definitions/Response 401'
        '404':
          $ref: '#/definitions/Response 404'
      security:
        - basicAuth: []

#region Security Definitions
securityDefinitions:
  basicAuth:
    type: basic
    description: |
      HTTP Basic Authentication

      The generated API User and API Key must be included in every calls to the API.

      For example, if you have Aladdin as the username and OpenSesame as the password, then the field's value is the base64-encoding of Aladdin:OpenSesame, or QWxhZGRpbjpPcGVuU2VzYW1l. Then the Authorization header will appear as:

      Authorization: Basic QWxhZGRpbjpPcGVuU2VzYW1l

      Your API credentials usually look like this:

      Username (API User): d8fb61fe-0a4f-4e11-81f8-6efd3513bd43

      Password (API Key): 976ff6f2-3528-4f4f-9e7d-007e9a074037

#endregion

definitions:

  #region Common API Response
  Response 401:
    description: Unauthorized.
    type: object
    properties:
      error:
        type: string
        example: "Invalid API User or API Key"
  Response 404:
    description: "Invalid or not found parameter(s)"
    type: object
    properties:
      error:
        type: string
        example: "Invalid or not found parameter(s)"
  Response 422:
    description: "Invalid or not found parameter(s)"
    type: object
    properties:
      error:
        type: string
        example: "Invalid or not found parameter(s)"
  #endregion

  #region Carrier
  Carrier:
    type: object
    properties:
      id:
        type: integer
        example: 7
      code:
        type: string
        example: gls
      name:
        type: string
        example: "GLS Denmark"
  Carriers:
    type: array
    items:
      $ref: "#/definitions/Carrier"
  #endregion

  #region Country
  Country:
    type: object
    properties:
      code:
        type: string
        example: DK
      name:
        type: string
        example: "Denmark"
      customs_declaration_required:
        type: boolean
        example: false
  #endregion

  #region Shipping Product Service
  Shipping Product Service:
    type: object
    properties:
      code:
        type: string
        example: "EMAIL_NT"
      id:
        type: integer
        example: 21
      name:
        type: string
        example: "Email advisering"
      required_fields:
        type: string
        example: "receiver_email"
  Shipping Product Services:
    type: array
    items:
      $ref: "#/definitions/Shipping Product Service"
  Required Shipping Product Service:
    type: object
    properties:
      code:
        type: string
        example: "EMAIL_NT"
      id:
        type: integer
        example: 21
      name:
        type: string
        example: "Email advisering"
      required_fields:
        type: string
        example: "receiver_email"
      note:
        type: string
        example: "Email notification is required"
  Required Shipping Product Services:
    type: array
    items:
      $ref: "#/definitions/Required Shipping Product Service"
  #endregion

  #region Weight Inteval
  Weight Interval:
    description: "Public weight intervals available to use. This is not applicable for own agreement or carriers that require full dimensions on parcels."
    type: object
    properties:
      from_weight:
        type: integer
        example: 0
        description: "In gram"
      to_weight:
        type: integer
        example: 1000
        description: "In gram"
      description:
        type: string
        example: "0-1kg"
  Weight Intervals:
    type: array
    items:
      $ref: "#/definitions/Weight Interval"
  #endregion

  #region Shipping Product
  Shipping Product:
    type: object
    properties:
      code:
        type: string
        example: "GLSDK_SD"
        description: "GLSDK_SD equals GLS (DK) Shop Delivery"
      id:
        type: integer
        example: 19
      name:
        type: string
        example: "Til Pakkeshop"
      required_fields:
        type: string
        example: "service_point_id"
      available:
        type: boolean
        example: true
        description: "Whether the product is available for the current user to book."
      own_agreement_available:
        type: boolean
        example: true
        description: "If own agreement is available for this product."
      customs_declaration_required:
        type: boolean
        example: true
      service_point_available:
        type: boolean
        example: true
      service_point_required:
        type: boolean
        example: true
      expected_transit_time:
        type: string
        example: "1-2 days"
      sender_country_code:
        type: string
        example: "DK"
      receiver_country_code:
        type: string
        example: "DK"
      required_parcel_fields:
        type: string
        example: "quantity,weight"
      optional_parcel_fields:
        type: string
        example: "height,length,width"
      carrier:
        $ref: '#/definitions/Carrier'
      destination_country:
        $ref: '#/definitions/Country'
      available_services:
        $ref: '#/definitions/Shipping Product Services'
      required_services:
        $ref: '#/definitions/Required Shipping Product Services'
      weight_intervals:
        $ref: '#/definitions/Weight Intervals'

  Shipping Products:
    type: array
    items:
      $ref: '#/definitions/Shipping Product'
  #endregion

  #region Package Type
  Package Type:
    type: object
    properties:
      id:
        type: integer
        example: 19
      code:
        type: string
        example: "PL1"
      description:
        type: string
        example: "PL1"

  Package Types:
    type: array
    items:
      $ref: '#/definitions/Package Type'
  #endregion

  #region ImportedShipment
  Imported Shipment:
    type: object
    properties:
      id:
        type: integer
        example: 11460
      sms_notification:
        type: boolean
        example: true
      email_notification:
        type: boolean
        example: true
      order_id:
        type: string
        example: "1000002345"
      reference:
        type: string
        example: "Webshop 5678"
      source:
        type: string
        example: "API"
      carrier_code:
        type: string
        example: "gls"
      product_code:
        type: string
        example: "GLSDK_SD"
        description: "GLSDK_SD equals GLS (DK) Shop Delivery"
      service_codes:
        type: string
        example: "EMAIL_NT,SMS_NT"
      archived:
        type: boolean
        example: false
      label_created:
        type: boolean
        example: false
      created_at:
        type: string
        format: date-time
        example: "2017-06-16T08:25:44.557+02:00"
      updated_at:
        type: string
        format: date-time
        example: "2017-06-16T08:25:44.557+02:00"
      sender:
        $ref: "#/definitions/Sender"
      receiver:
        $ref: "#/definitions/Receiver"
      service_point:
        $ref: "#/definitions/Service Point Simple"
  Create Imported Shipment Request:
    type: object
    properties:
      sender:
        $ref: "#/definitions/Sender"
      receiver:
        $ref: "#/definitions/Receiver"
      service_point:
        $ref: "#/definitions/Service Point Simple"
      sms_notification:
        type: boolean
        example: true
      email_notification:
        type: boolean
        example: true
      order_id:
        type: string
        example: "1000002345"
      reference:
        type: string
        example: "Webshop 5678"
      source:
        type: string
        example: "API"
      carrier_code:
        type: string
        example: null
        description: "Can be blank"
      product_code:
        type: string
        example: "GLSDK_SD"
        description: "Can be blank"
      service_codes:
        type: string
        example: "EMAIL_NT,SMS_NT"
      shipment_template_id:
        type: string
        example: "710"
  #endregion

  #region Shipment
  Sender:
    type: object
    required:
      - name
      - address1
      - zipcode
      - city
      - country_code
    description: "Required"
    properties:
      name:
        type: string
        example: "Min Virksomhed ApS"
      attention:
        type: string
        example: "Lene Hansen"
      address1:
        type: string
        example: "Strandvejen 6B"
      address2:
        type: string
        example: null
      zipcode:
        type: string
        example: "5240"
      city:
        type: string
        example: "Odense NØ"
      country_code:
        type: string
        example: "DK"
      email:
        type: string
        example: "info@minvirksomhed.dk"
      mobile:
        type: string
        example: "70400407"
      telephone:
        type: string
        example: "70400407"
  Receiver:
    type: object
    required:
      - name
      - address1
      - zipcode
      - city
      - country_code
    description: "Required"
    properties:
      name:
        type: string
        example: "Lene Hansen"
      attention:
        type: string
        example: null
      address1:
        type: string
        example: "Skibhusvej 52"
      address2:
        type: string
        example: null
      zipcode:
        type: string
        example: "5000"
      city:
        type: string
        example: "Odense C"
      country_code:
        type: string
        example: "DK"
      email:
        type: string
        example: "lene@email.dk"
      mobile:
        type: string
        example: "12345678"
      telephone:
        type: string
        example: "12345678"
      instruction:
        type: string
        example: null
  Pick Up:
    type: object
    properties:
      name:
        type: string
        example: "Min Virksomhed A/S"
      address1:
        type: string
        example: "Strandvejen 6B"
      address2:
        type: string
        example: "Port 26"
      country_code:
        type: string
        example: "DK"
      zipcode:
        type: string
        example: "5240"
      city:
        type: string
        example: "Odense NØ"
      attention:
        type: string
        example: "Lager"
      telephone:
        type: string
        example: "80808080"
      instruction:
        type: string
        example: "Henvend ved indgang port 21"
  Goods Line:
    type: object
    required:
      - quantity
      - country
      - content
      - commodity_code
      - unit_value
      - unit_weight
    properties:
      quantity:
        type: integer
        example: 2
      country:
        type: string
        example: "CN"
        description: "Country of origin"
      content:
        type: string
        example: "Textile shirt"
        description: "Description of the content"
      commodity_code:
        type: string
        example: "8471000000"
        description: "Classification numbers for goods. For more visit vita.skat.dk"
      unit_value:
        type: number
        example: 50.75
        description: "Unit value in declared currency"
      unit_weight:
        type: integer
        example: 100
        description: "Unit weight in gram"
  Simple Customs:
    type: object
    properties:
      currency_code:
        type: string
        example: "DKK"
        description: "Declared currency code"
      goods:
        type: array
        items:
          $ref: "#/definitions/Goods Line"
  Service Point In Shipment Request:
    type: object
    required:
      - id
    properties:
      id:
        type: string
        example: "96271"
        description: "Identification for the service point from the carrier"
  Parcel Simple:
    type: object
    required:
      - weight
    properties:
      weight:
        type: integer
        example: 1000
        description: "Weight in gram"
  Parcel Advanced:
    type: object
    properties:
      weight:
        type: integer
        example: 1000
        description: "Weight in gram"
      length:
        type: integer
        example: 20
        description: "Length in cm"
      width:
        type: integer
        example: 10
        description: "Width in cm"
      height:
        type: integer
        example: 6
        description: "Height in cm"
      volume:
        type: number
        example: 0.012
        description: "Volume in cubic metre"
      running_metre:
        type: number
        example: 1.25
        description: "Running metre in metre"
      description:
        type: string
        example: "Bike accessories"
      packaging:
        type: string
        example: "PL1"
        description: "Packaging type for the parcel, if required, must match value required by the carrier."
  Create Shipment Request Simple:
    type: object
    required:
      - own_agreement
      - product_code
      - service_codes
      - sender
      - receiver
      - parcels
    properties:
      test_mode:
        type: boolean
        example: true
        description: "For testing purpose. Shipment and labels generated are dummy and cannot be used. To create real shipments, remove this element or set it to be false"
      own_agreement:
        type: boolean
        example: false
      label_format:
        type: string
        example: null
        description: "If label_format is specified, the shipping labels will be included in the response. Available formats: a4_pdf, 10x19_pdf, png, zpl"
      product_code:
        type: string
        example: "GLSDK_SD"
        description: "GLSDK_SD equals GLS (DK) Shop Delivery"
      service_codes:
        type: string
        example: "EMAIL_NT,SMS_NT"
      automatic_select_service_point:
        type: boolean
        example: true
        description: "When a delivery method requires specified service point, you can use this to have the system to pick the closest one based on receiver's address."
      sender:
        $ref: "#/definitions/Sender"
      receiver:
        $ref: "#/definitions/Receiver"
      parcels:
        type: array
        items:
          $ref: "#/definitions/Parcel Simple"
      print:
        type: boolean
        example: false
        description: "For using with the print client. Shipment labels can be sent out to the print queue automatically. Possible to specify which host name, printer name and label format in print_at element."
      print_at:
        $ref: "#/definitions/Print At"
      send_label:
        $ref: "#/definitions/Send Label"
      replace_http_status_code:
        type: boolean
        example: false
        description: "If replace_http_status_code is set to true, request will have HTTP Status 200, the real HTTP Status will be included in the response header as X-HTTP-Status-Code. This is for preventing Run Time Error in some frameworks and make it possible to read the error messages."
      reference:
        type: string
        example: "Order 10001"
        description: Reference can be printed on the label and transferred to e.g. carriers.
      pallet_exchange:
        $ref: "#/definitions/Pallet Exchange"
  Create Shipment Request Simple With Service Point:
    type: object
    required:
      - own_agreement
      - product_code
      - service_codes
      - sender
      - receiver
      - parcels
    properties:
      test_mode:
        type: boolean
        example: true
        description: "For testing purpose. Shipment and labels generated are dummy and cannot be used. To create real shipments, remove this element or set it to be false"
      own_agreement:
        type: boolean
        example: false
      label_format:
        type: string
        example: null
        description: "If label_format is specified, the shipping labels will be included in the response. Available formats: a4_pdf, 10x19_pdf, png, zpl"
      product_code:
        type: string
        example: "GLSDK_SD"
        description: "GLSDK_SD equals GLS (DK) Shop Delivery"
      service_codes:
        type: string
        example: "EMAIL_NT,SMS_NT"
      sender:
        $ref: "#/definitions/Sender"
      receiver:
        $ref: "#/definitions/Receiver"
      service_point:
        type: object
        properties:
          id:
            type: string
            example: "95558"
            description: "The ID of the service point."
      parcels:
        type: array
        items:
          $ref: "#/definitions/Parcel Simple"
  Pallet Exchange:
    type: object
    properties:
      pallets1:
        type: integer
        example: 1
        description: "The number of 1/1 pallets to exchange"
      pallets2:
        type: integer
        example: 0
        description: "The number of 1/2 pallets to exchange"
      pallets4:
        type: integer
        example: 0
        description: "The number of 1/4 pallets to exchange"
  Print At:
    type: object
    properties:
      host_name:
        type: string
        example: "WAREHOUSE-PC"
        description: "Name of the PC / host where the print client is installed."
      printer_name:
        type: string
        example: "Zebra Zdesigner GK420D"
        description: "Name of the printer that is registered within the print client."
      label_format:
        type: string
        example: "zpl"
        description: "The label format that the printer can accept. If Zebra GK420D printer then use zpl. Available: a4_pdf, 10x19_pdf, png, zpl"
  Send Label:
    type: object
    properties:
      name:
        type: string
        example: "Jim"
        description: "Name of the recipient of the label (optional)"
      email:
        type: string
        example: "jim@minvirksomhed.dk"
        description: "Email address of the recipient of the label"
      label_format:
        type: string
        example: "a4_pdf"
        description: "The label format that should be attached to the email. Available: a4_pdf, 10x19_pdf"
  Create Shipment Advanced:
    type: object
    properties:
      test_mode:
        type: boolean
        example: true
        description: "For testing purpose. Shipment and labels generated are dummy and cannot be used. To create real shipments, remove this element or set it to be false"
      own_agreement:
        type: boolean
        example: false
      product_code:
        type: string
        example: "DHLE_EW"
        description: "DHLE_EW equals DHL Express Express Worldwide"
      service_codes:
        type: string
        example: "EMAIL_NT,SMS_NT"
      reference:
        type: string
        example: "Webshop 5678"
      order_id:
        type: string
        example: "1000002345"
      sender:
        $ref: "#/definitions/Sender"
      receiver:
        $ref: "#/definitions/Receiver"
      pick_up:
        $ref: "#/definitions/Pick Up"
      parcels:
        type: array
        items:
          $ref: "#/definitions/Parcel Advanced"
  Shipment:
    type: object
    properties:
      id:
        type: integer
        example: 1168
      created_at:
        type: string
        format: date-time
        example: "2017-06-16T08:25:44.557+02:00"
      updated_at:
        type: string
        format: date-time
        example: "2017-06-16T08:25:44.557+02:00"
      carrier_code:
        type: string
        example: "gls"
      description:
        type: string
        example: "Til Pakkeshop 5,0 kg"
      product_id:
        type: integer
        example: 64
      services:
        type: string
        example: "23, 24"
      product_code:
        type: string
        example: "GLSDK_SD"
      service_codes:
        type: string
        example: "EMAIL_NT,SMS_NT"
      price:
        type: number
        example: "42.5"
      reference:
        type: string
        example: "Webshop 5678"
      order_id:
        type: string
        example: "1000002345"
      pkg_no:
        type: string
        example: "6064518784"
      receiver:
        $ref: "#/definitions/Receiver"
      sender:
        $ref: "#/definitions/Sender"
      service_point:
        $ref: "#/definitions/Service Point Simple"
      pick_up:
        type: object
      paperless_trade:
        type: boolean
        example: false
        description: "If the shipment is created with paperless trade, then not necessary to print out physical proforma invoice."
      labelless_code:
        type: string
        example: "123-4567-890"
        description: "If labelless is supported on the certain shipment by the carrier, then this element will be available with the code that can be written on the parcel."

  Shipment Cancelled:
    type: object
    properties:
      cancelled_at_carrier:
        type: boolean
        example: true
  #endregion

  #region Packing Slip
  Packing Slip:
    type: object
    properties:
      id:
        type: integer
        example: "27000"
        description: "Id for sales order"
      packing_slips:
        type: array
        items: 
          $ref: "#/definitions/Packing Slip Data"

  #endregion

  #region Packing Slip Data
  Packing Slip Data:
    type: object
    properties:
      order_fulfillment_id:
        type: integer
        example: "833"
        description: "The id of the fulfillment"
      base64:
        type: string
        example: "JVBERi0xLjMKJf//////AAAAAA..."
        description: "Data encoded in BASE64 format"
      file_format:
        type: string
        example: "pdf"
        description: "File format for the returned data (pdf)"
  #endregion

  #region Pick List
  Pick List:
    type: object
    properties:
      id:
        type: integer
        example: "27000"
        description: "Id for sales order"
      pick_list:
        type: array
        items: 
          $ref: "#/definitions/Pick List Data"

  #endregion

  #region Pick List Data
  Pick List Data:
    type: object
    properties:
      base64:
        type: string
        example: "JVBERi0xLjMKJf//////AAAAAA..."
        description: "Data encoded in BASE64 format"
      file_format:
        type: string
        example: "pdf"
        description: "File format for the returned data (pdf)"
  #endregion

  #region Label
  Label:
    type: object
    properties:
      base64: 
        type: string
        example: "JVBERi0xLjMKJf//////AAAAAA..."
[...]
